@import 'variables';

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

body {
    margin: 0
}

a {
    background-color: initial;
    text-decoration: none !important;
}

img {
    border-style: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

html {
    box-sizing: border-box
}

html *,
html :after,
html :before {
    box-sizing: inherit
}

img {
    vertical-align: middle
}

a {
    touch-action: manipulation
}
.inline-svg {
    opacity: 0
}

body {
    font-family: 'Roboto', sans-serif;
}

html body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #243238;
    font-size: 16px;
    line-height: 1.5
}

.homebuilder.clearfix a {
    text-decoration: none;

}

.caption .name a {
    color: black;
}

.homebuilder.clearfix a:hover {
    color: rgb(46, 141, 219);
}

.header {
    align-items: center;
    background: #2d394b;
    display: flex;
    height: 60px;
    left: 0;
    padding: 10px 70px 10px 30px;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0
}


.back-to-product-icon {
    border-color: #0000 #9cc8f5 #0000 #0000;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    display: inline-block;
    height: 0;
    margin-right: 10px;
    width: 0
}

.back-to-product {
    align-items: baseline;
    color: #9cc9f5;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    margin-right: 20px;
    max-width: 45%;
    min-width: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (max-width:719px) {
    .back-to-product {
        margin-right: 0
    }
}

.header-buttons {
    margin-left: auto
}

.header-btn,
.header-buttons {
    align-items: center;
    display: flex
}

.header-btn {
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    margin-left: 30px;
    padding: 11px 20px;
    white-space: nowrap;
    margin-left: 242px;
}



.header-btn-icon {
    height: 18px;
    margin-right: 8px;
    width: 18px
}

.header-btn_membership {
    background: #fff;
    color: #243238
}

.header-btn_membership .header-btn-icon {
    fill: #00a3ff;
    display: none
}

@media (max-width:959px) {
    .header-btn_membership {
        font-size: 0
    }

    .header-btn_membership .header-btn-icon {
        display: block;
        margin-right: 0
    }
}

@media (max-width:679px) {
    .header-btn_membership {
        display: none
    }
}

.devices {
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
}

@media (max-width:719px) {
    .devices {
        display: none
    }
}

@media (max-width:1649px) {
    .devices-static {
        position: static;
        transform: none
    }
}

@media (max-width:959px) {
    .devices-static {
        position: absolute;
        transform: translateX(-50%)
    }
}

.add-to-cart {
    display: flex;
    justify-content: center;
    position: relative
}

@media (max-width:959px) {
    .add-to-cart {
        min-width: auto
    }
}

.frame {
    border: none;
    display: block;
    min-height: calc(100vh - 60px)
}

.frame-wrapper {
    width: 100%
}

.header-button {
    fill: #b3c8e7;
    align-items: center;
    background-color: initial;
    border: 0;
    color: #b0bec5;
    display: flex;
    font-size: 14px;
    padding: 20px 15px;
    text-decoration: none
}

.header-button-icon {
    display: inline-block;
    height: 22px;
    width: 22px
}

.header_cart-demo {
    margin-left: 15px;
    position: relative
}

.product-cart-modal-wrapper {
    display: none;
    position: relative;
    z-index: 100
}

// Admin sytle
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: $secondary;
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: $dark;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: $light;
    font-weight: 500;
    border-left: 3px solid $secondary;
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: $primary;
    background: $dark;
    border-color: $primary;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $dark;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: $secondary;
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: $light;
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: $dark;
}

.navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: $light;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: $primary;
}

.navbar .sidebar-toggler,
.navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $dark;
    border-radius: 40px;
}

.navbar .dropdown-item {
    color: $light;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item.active {
    background: $dark;
}

.navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: $primary;
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: $primary;
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid $primary;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: $dark;
    border-color: $primary;
}

/* Định dạng giá trị trong trường input */
input[type="text"] {
    color: $light-text;
    /* Màu trắng sáng */
}

input[type="text"]:focus {
    color: $light-text;
    /* Màu trắng sáng */
}

select.form-select {
    color: $light-text;
    /* Màu trắng sáng */
    background-color: $dark;
    /* Màu nền */
}

select.form-select option {
    color: $light-text;
    /* Màu văn bản trong tùy chọn */
}

input[type="number"] {
    color: $light-text;
    /* Màu trắng sáng */
}

.form-control {
    border-bottom: 1px solid $primary-fade;
    border-radius: 2;
    color: $light-text;
    /* Màu chữ mặc định */
}

.form-control:placeholder-shown {
    color: $light-text;
}

.form-label {
    font-weight: bold;
}