<div class="product-product container">
    <ul class="breadcrumb">

        <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
            <a href="/shop" class="text-decoration-none">
                <i class="bi bi-house-door-fill"></i>
            </a> >
            <span class="custom-text-style"
                style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Subwoofers</span>
        </span>
        <span> > </span>
        <li> <span>Alpine SXE-1725S</span></li>

    </ul>
    <div class="row">




        <div id="content" class="col-sm-12">

            <div class="row">



                <div class="col-sm-6 col-lg-7 product_page-left">
                    <div class="product-gallery">

                        <div class="row">
                            <div class="col-lg-9 pull-right hidden-xs hidden-sm hidden-md text-center">
                                <img width="800" height="800" id="productZoom"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-518x478.png"
                                    data-zoom-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-800x800.png">
                                <div class="cart-button">
                                    <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                        onclick="wishlist.add('28');" data-original-title="Add to Wish List"><i
                                            class="fa fa-heart-o"></i></button>
                                    <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                        onclick="compare.add('28');" data-original-title="Compare this Product"><i
                                            class="fa fa-random"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-3 hidden-xs hidden-sm hidden-md image-thumb">
                                <div class="bx-wrapper" style="max-width: 140px; margin: 0px auto;">
                                    <div class="bx-viewport"
                                        style="width: 100%; overflow: hidden; position: relative; height: 446px;">
                                        <ul id="productGallery" class="image-additional" data-slide-width="140"
                                            style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">

                                            <li
                                                style="float: none; list-style: none; position: relative; width: 140px; margin-bottom: 13px;">
                                                <a href="#"
                                                    data-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-518x478.png"
                                                    data-zoom-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-800x800.png"
                                                    class="zoomGalleryActive">
                                                    <img width="140" height="140"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-140x140.png"
                                                        alt="Alpine SXE-1725S">

                                                </a>

                                            </li>

                                            <li
                                                style="float: none; list-style: none; position: relative; width: 140px; margin-bottom: 13px;">
                                                <a href="#"
                                                    data-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-518x478.png"
                                                    data-zoom-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-800x800.png">
                                                    <img width="140" height="140"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-140x140.png"
                                                        alt="Alpine SXE-1725S">

                                                </a>

                                            </li>

                                            <li
                                                style="float: none; list-style: none; position: relative; width: 140px; margin-bottom: 13px;">
                                                <a href="#"
                                                    data-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-3-518x478.png"
                                                    data-zoom-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-3-800x800.png">
                                                    <img width="140" height="140"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-3-140x140.png"
                                                        alt="Alpine SXE-1725S">

                                                </a>

                                            </li>

                                            <li
                                                style="float: none; list-style: none; position: relative; width: 140px; margin-bottom: 13px;">
                                                <a href="#"
                                                    data-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-4-518x478.png"
                                                    data-zoom-image="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-4-800x800.png">
                                                    <img width="140" height="140"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-4-140x140.png"
                                                        alt="Alpine SXE-1725S">

                                                </a>

                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12 hidden-lg image-thumb">
                                <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                                    <div class="bx-viewport"
                                        style="width: 100%; overflow: hidden; position: relative; height: 0px;">
                                        <ul id="productFullGallery" class="image-additional" data-slide-width="140"
                                            style="width: 615%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">

                                            <li
                                                style="float: left; list-style: none; position: relative; width: 100px;">
                                                <a
                                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-518x478.png">
                                                    <img width="518" height="478"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-518x478.png"
                                                        alt="Alpine SXE-1725S">
                                                    <div class="cart-button">
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="wishlist.add('28');"
                                                            data-original-title="Add to Wish List"><i
                                                                class="fa fa-heart-o"></i></button>
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="compare.add('28');"
                                                            data-original-title="Compare this Product"><i
                                                                class="fa fa-random"></i></button>
                                                    </div>
                                                </a>
                                            </li>

                                            <li
                                                style="float: left; list-style: none; position: relative; width: 100px;">
                                                <a
                                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-518x478.png">
                                                    <img width="518" height="478"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-518x478.png"
                                                        alt="Alpine SXE-1725S">
                                                    <div class="cart-button">
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="wishlist.add('28');"
                                                            data-original-title="Add to Wish List"><i
                                                                class="fa fa-heart-o"></i></button>
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="compare.add('28');"
                                                            data-original-title="Compare this Product"><i
                                                                class="fa fa-random"></i></button>
                                                    </div>
                                                </a>
                                            </li>

                                            <li
                                                style="float: left; list-style: none; position: relative; width: 100px;">
                                                <a
                                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-3-518x478.png">
                                                    <img width="518" height="478"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-3-518x478.png"
                                                        alt="Alpine SXE-1725S">
                                                    <div class="cart-button">
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="wishlist.add('28');"
                                                            data-original-title="Add to Wish List"><i
                                                                class="fa fa-heart-o"></i></button>
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="compare.add('28');"
                                                            data-original-title="Compare this Product"><i
                                                                class="fa fa-random"></i></button>
                                                    </div>
                                                </a>
                                            </li>

                                            <li
                                                style="float: left; list-style: none; position: relative; width: 100px;">
                                                <a
                                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-4-518x478.png">
                                                    <img width="518" height="478"
                                                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-4-518x478.png"
                                                        alt="Alpine SXE-1725S">
                                                    <div class="cart-button">
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="wishlist.add('28');"
                                                            data-original-title="Add to Wish List"><i
                                                                class="fa fa-heart-o"></i></button>
                                                        <button type="button" class="btn-icon" data-toggle="tooltip"
                                                            title="" onclick="compare.add('28');"
                                                            data-original-title="Compare this Product"><i
                                                                class="fa fa-random"></i></button>
                                                    </div>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="col-sm-6 col-lg-5 product_page-right">
                    <div class="general_info product-info">
                        <h2 class="product-title">Alpine SXE-1725S</h2>
                        <!-- Prodyuct rating status -->
                        <ul class="list-unstyled product-section">

                            <li><strong>Brand:</strong>
                                <a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/manufacturer/info&amp;manufacturer_id=64">Alpine</a>
                            </li>

                            <li>
                                <strong>Product Code:</strong>
                                <span>Classic</span>
                            </li>

                            <li>
                                <strong>Reward Points:</strong>
                                <span>400</span>
                            </li>

                            <li>
                                <strong>Availability:</strong>
                                <span class="stock">In Stock</span>
                            </li>
                        </ul>
                        <div class="rating-section product-rating-status">

                            <div class="rating">
                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>

                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>

                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>

                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>

                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>


                                <span class="review-link review-link-show">
                                    <a href="#">0 Review(s)</a>
                                </span>
                                <span class="review-link review-link-write">
                                    <a href="#">Add your review</a>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div id="product">

                        <div class="product-options">






                            <div class="option-select form-group required">
                                <label class="control-label" for="input-option4">Color</label>
                                <div id="sbHolder_91903584" class="sbHolder"><a id="sbToggle_91903584" href="#"
                                        class="sbToggle"></a><a id="sbSelector_91903584" href="#" class="sbSelector">---
                                        Please Select ---</a>
                                    <ul id="sbOptions_91903584" class="sbOptions" style="display: none;">
                                        <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                        <li><a href="#7" rel="7">Black

                                                (+$1.00)

                                            </a></li>
                                        <li><a href="#8" rel="8">White

                                                (+$1.00)

                                            </a></li>
                                    </ul>
                                </div><select name="option[4]" id="input-option4" class="" sb="91903584"
                                    style="display: none;">
                                    <option value="">--- Please Select ---</option>

                                    <option value="7">Black

                                        (+$1.00)

                                    </option>

                                    <option value="8">White

                                        (+$1.00)

                                    </option>

                                </select>
                            </div>












                            <div class="option-select form-group required">
                                <label class="control-label" for="input-option5">Transmission</label>
                                <div id="sbHolder_15272720" class="sbHolder"><a id="sbToggle_15272720" href="#"
                                        class="sbToggle"></a><a id="sbSelector_15272720" href="#" class="sbSelector">---
                                        Please Select ---</a>
                                    <ul id="sbOptions_15272720" class="sbOptions" style="display: none;">
                                        <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                        <li><a href="#9" rel="9">Manual transmission

                                                (+$1.00)

                                            </a></li>
                                        <li><a href="#10" rel="10">Automatic transmission

                                                (+$1.00)

                                            </a></li>
                                    </ul>
                                </div><select name="option[5]" id="input-option5" class="" sb="15272720"
                                    style="display: none;">
                                    <option value="">--- Please Select ---</option>

                                    <option value="9">Manual transmission

                                        (+$1.00)

                                    </option>

                                    <option value="10">Automatic transmission

                                        (+$1.00)

                                    </option>

                                </select>
                            </div>












                            <div class="option-select form-group required">
                                <label class="control-label" for="input-option6">Wheel Drive</label>
                                <div id="sbHolder_78425323" class="sbHolder"><a id="sbToggle_78425323" href="#"
                                        class="sbToggle"></a><a id="sbSelector_78425323" href="#" class="sbSelector">---
                                        Please Select ---</a>
                                    <ul id="sbOptions_78425323" class="sbOptions" style="display: none;">
                                        <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                        <li><a href="#11" rel="11">2WD

                                                (+$1.00)

                                            </a></li>
                                        <li><a href="#12" rel="12">4WD

                                                (+$1.00)

                                            </a></li>
                                    </ul>
                                </div><select name="option[6]" id="input-option6" class="" sb="78425323"
                                    style="display: none;">
                                    <option value="">--- Please Select ---</option>

                                    <option value="11">2WD

                                        (+$1.00)

                                    </option>

                                    <option value="12">4WD

                                        (+$1.00)

                                    </option>

                                </select>
                            </div>












                            <div class="option-select form-group required">
                                <label class="control-label" for="input-option2">Body Type</label>
                                <div id="sbHolder_32582863" class="sbHolder"><a id="sbToggle_32582863" href="#"
                                        class="sbToggle"></a><a id="sbSelector_32582863" href="#" class="sbSelector">---
                                        Please Select ---</a>
                                    <ul id="sbOptions_32582863" class="sbOptions" style="display: none;">
                                        <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                        <li><a href="#3" rel="3">Sedan

                                                (+$1.00)

                                            </a></li>
                                        <li><a href="#4" rel="4">Hatchback

                                                (+$3.00)

                                            </a></li>
                                    </ul>
                                </div><select name="option[2]" id="input-option2" class="" sb="32582863"
                                    style="display: none;">
                                    <option value="">--- Please Select ---</option>

                                    <option value="3">Sedan

                                        (+$1.00)

                                    </option>

                                    <option value="4">Hatchback

                                        (+$3.00)

                                    </option>

                                </select>
                            </div>












                            <div class="option-select form-group required">
                                <label class="control-label" for="input-option3">Engine Capacity</label>
                                <div id="sbHolder_66979195" class="sbHolder"><a id="sbToggle_66979195" href="#"
                                        class="sbToggle"></a><a id="sbSelector_66979195" href="#" class="sbSelector">---
                                        Please Select ---</a>
                                    <ul id="sbOptions_66979195" class="sbOptions" style="display: none;">
                                        <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                        <li><a href="#5" rel="5">2 l

                                                (+$2.00)

                                            </a></li>
                                        <li><a href="#6" rel="6">3 l

                                                (+$3.00)

                                            </a></li>
                                    </ul>
                                </div><select name="option[3]" id="input-option3" class="" sb="66979195"
                                    style="display: none;">
                                    <option value="">--- Please Select ---</option>

                                    <option value="5">2 l

                                        (+$2.00)

                                    </option>

                                    <option value="6">3 l

                                        (+$3.00)

                                    </option>

                                </select>
                            </div>












                            <div class="option-select form-group required">
                                <label class="control-label" for="input-option1">Fuel</label>
                                <div id="sbHolder_59697763" class="sbHolder"><a id="sbToggle_59697763" href="#"
                                        class="sbToggle"></a><a id="sbSelector_59697763" href="#" class="sbSelector">---
                                        Please Select ---</a>
                                    <ul id="sbOptions_59697763" class="sbOptions" style="display: none;">
                                        <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                        <li><a href="#1" rel="1">Gas

                                                (+$1.00)

                                            </a></li>
                                        <li><a href="#2" rel="2">Petrol

                                                (+$1.00)

                                            </a></li>
                                    </ul>
                                </div><select name="option[1]" id="input-option1" class="" sb="59697763"
                                    style="display: none;">
                                    <option value="">--- Please Select ---</option>

                                    <option value="1">Gas

                                        (+$1.00)

                                    </option>

                                    <option value="2">Petrol

                                        (+$1.00)

                                    </option>

                                </select>
                            </div>








                        </div>

                        <!-- product reccurings -->

                        <!-- Add to cart form -->
                        <div class="form-group form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="quantity">
                                        <label class="control-label" for="input-quantity">Quantity</label>
                                        <a class="counter counter-minus fa fa-caret-down" href="#"></a>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity"
                                            class="form-control">
                                        <input type="hidden" name="product_id" value="28">
                                        <a class="counter counter-plus fa fa-caret-up" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="price-section">

                            <span class="price-new">$57.00</span>

                            <span class="price-new"></span>

                            <div class="reward-block">


                            </div>
                        </div>



                        <button type="button" id="button-cart" data-loading-text="Loading..."
                            class="btn-primary btn-invert ani">Add to Cart<span class="over">Add to Cart</span><span
                                class="out">Add to Cart</span></button>

                        <!-- Product tags -->
                        <div class="product-tags">
                            Tags:
                            <a
                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/search&amp;tag=Alpine SXE-1725S">Alpine
                                SXE-1725S</a>
                            <a href=""></a>

                        </div>

                        <div class="product-share">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_sharing_toolbox"></div>
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <script type="text/javascript"
                                src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55e053ac02ebd38e"
                                async="async"></script>
                            <!-- AddThis Button END -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="product_tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-description" data-toggle="tab">
                            Description
                        </a>
                    </li>

                    <li>
                        <a href="#tab-specification" data-toggle="tab">
                            Additional Info
                        </a>
                    </li>


                    <li>
                        <a href="#tab-review" data-toggle="tab">
                            Reviews
                        </a>
                    </li>


                    <li>
                        <a href="#tab-video" data-toggle="tab">
                            Video
                        </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-description">
                        <p>Our products are the perfect combination of the latest fashion trends, real durability and
                            flexibility. You know that nowadays music is one of the main spheres in our society. It is a
                            gigantic machine of production different goods for mental satisfaction. It is a real
                            mainstream; moreover - it is a modern religion.</p>
                        <p>It doesn’t matter what kind of a music you listen because tastes differ but we have collected
                            all possible music-related goods in our store.</p>
                    </div>

                    <div class="tab-pane product-spec product-section" id="tab-specification">
                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th colspan="2"><strong>Accessories</strong></th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td><span>Size:</span><span>205x55</span></td>


                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th colspan="2"><strong>Product Details</strong></th>
                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td><span>Oil:</span><span>5W40</span></td>



                                    <td><span>Manufacturer:</span><span>Italy</span></td>
                                </tr>

                                <tr>
                                    <td><span>Year:</span><span>2018</span></td>



                                    <td><span>Season:</span><span>Winter</span></td>


                                </tr>
                                <tr>
                                    <td><span>Сollection:</span><span>Summer 2017</span></td>
                                </tr>


                            </tbody>

                        </table>
                    </div>


                    <div class="tab-pane product-reviews" id="tab-review">
                        <form class="form-horizontal" id="form-review">

                            <div class="rating"><span>Overall Rating 0</span>


                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>



                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>



                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>



                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>



                                <span class="fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>


                            </div>

                            <div id="review">
                                <p>There are no reviews for this product.</p>
                            </div>
                            <div class="review-form-title">
                                <span class="btn-primary close-tab" id="reviews_form_title">Write a review</span>
                            </div>
                            <div class="product-review-form" id="reviews_form">

                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-name">Your Name</label>
                                        <input type="text" name="name" value="" id="input-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-review">Your Review</label>
                                        <textarea name="text" rows="5" id="input-review" class=""></textarea>
                                        <div class="help-block"><span class="text-danger">Note:</span> HTML is not
                                            translated!</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label">Rating</label>
                                        &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                        <input type="radio" name="rating" value="1">
                                        &nbsp;
                                        <input type="radio" name="rating" value="2">
                                        &nbsp;
                                        <input type="radio" name="rating" value="3">
                                        &nbsp;
                                        <input type="radio" name="rating" value="4">
                                        &nbsp;
                                        <input type="radio" name="rating" value="5">
                                        &nbsp;Good
                                    </div>
                                </div>

                                <div class="buttons clearfix">
                                    <div class="pull-right">
                                        <button type="button" id="button-review" data-loading-text="Loading..."
                                            class="btn btn-primary ani">
                                            Continue
                                            <span class="over">
                                                Continue
                                            </span><span class="out">
                                                Continue
                                            </span></button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>


                    <div id="tab-video" class="tab-pane product-video product-section">
                        <div class="r_frame">
                            <iframe
                                src="//www.youtube.com/embed/GO0T-eb1jrI? Rel=0&amp;controls=0&amp;showinfo=0&amp;wmode=transparent"
                                allowfullscreen="" height="315" width="560"></iframe>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- related Products -->
            <div class="related-block">

            </div>

        </div>

    </div>
</div>