<!-- Typography Start -->
<div class="container-fluid pt-4 px-4">
    <form action="/admin/service/create" method="post">
        <div class="row mb-3">
            <div class="col">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
        </div>

        <div class="col mb-3">
            <label for="editor" class="form-label">Description</label>
            <textarea id="editor" name="description">

            </textarea>
        </div>

        <div class="row mb-2 text-end">
            <div class="col">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>

    </form>
</div>
<!-- Typography End -->