<header>
    <div class="homebuilder clearfix header-top">
        <div class="tm-container ">
            <div class="tm-inner">
                <div class="row row-level-1 ">
                    <div class="row-inner  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-inner container">
                                <span>
                                    <span class="tx-open">24/7 CUSTOMER SERVICE - </span>
                                    <a href="callto:8001234567" class="text-decoration-none">
                                        <span>(800) 123-4567</span>
                                    </a>
                                </span>

                                <nav id="top-links" class="nav toggle-wrap">
                                    <a class="toggle" href="#">
                                        <span>My Account</span>
                                    </a>
                                    <ul class="toggle_cont">
                                        {{#if user }}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-decoration-none" href="/login"
                                                id="myAccountDropdown" role="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <span>{{ user.ho }} {{ user.ten }} </span>
                                            </a>
                                            <ul class="dropdown-menu bg-info dropdown-menu-end text-start show"
                                                aria-labelledby="myAccountDropdown"
                                                style="background-color: rgb(184, 235, 239);transform: translate(-8px, 15px);inset: 0px auto auto 0px;margin: 0px;"
                                                id="myDropdown">
                                                <li><a class="dropdown-item " href="#">Wishlist</a></li>
                                                <li><a class="dropdown-item " href="#">Shopping Cart</a></li>
                                                <li>
                                                    <form action="/logout" method="post">
                                                        <button type="submit" class="dropdown-item text-white">
                                                            Logout
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>
                                        {{else}}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-decoration-none" href="/login"
                                                id="myAccountDropdown" role="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <span>My Account</span>
                                            </a>
                                            <ul class="dropdown-menu bg-info dropdown-menu-end text-start show"
                                                aria-labelledby="myAccountDropdown"
                                                style="background-color: rgb(184, 235, 239);transform: translate(-8px, 15px);inset: 0px auto auto 0px;margin: 0px;"
                                                id="myDropdown">
                                                <li><a class="dropdown-item " href="/login">Login</a></li>
                                                <li><a class="dropdown-item " href="/register">Register</a>
                                                </li>
                                                <li><a class="dropdown-item " href="#">Wishlist</a></li>
                                                <li><a class="dropdown-item " href="#">Shopping Cart</a></li>
                                            </ul>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homebuilder clearfix stuck-menu">
        <div class="tm-container ">
            <div class="tm-inner">

                <div class="row row-level-1 ">
                    <div class="row-inner  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-inner container">
                                <h1 class="logo">

                                    <a href="#">
                                        <img src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/logo-270x44.png"
                                            title="StoreFlex" alt="StoreFlex" class="img-responsive">
                                    </a>

                                </h1>
                                <div id="search" class="search">
                                    <input type="text" name="search" value="" placeholder="Search...">
                                    <button type="button" class="button-search"><i class="bi bi-search"></i></button>
                                </div>



                                <div class="row">
                                    <div class="col-5">
                                        <a href="/shop" class="header-btn fa fa-paper-plane text-decoration-none">Free
                                            shipping
                                            Worldwide</a>
                                    </div>
                                    <div class="col-5">
                                        <a href="/shop" class="header-btn fa fa-star text-decoration-none">Daily deals
                                            &amp;
                                            Offers</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stuck-menu header-navigation">
        <div class="navigation">

            <div class="container">
                <div class="megamenu">
                    <h3></h3>
                    <ul class="sf-menu sf-js-enabled sf-arrows">
                        <li class="">
                            <a href="#" data-letters="Car Audio" class="text-decoration-none"><span>Car
                                    Audio</span></a>


                        </li>
                        <li class="">
                            <a href="#2" data-letters="Car Tuning" class="text-decoration-none"><span>Car
                                    Tuning</span></a>

                        <li class="">
                            <a href="#3" data-letters="Motorcycle"
                                class="text-decoration-none"><span>Motorcycle</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 1;" class="">
                                    <a href="#67" class="parent sf-with-ul">Dirt Bike</a>
                                    <ul class="simple_menu" style="display: none;">
                                        <li style="opacity: 0;">
                                            <a href="#79">Apparel</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#80">Brakes</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#81">Handling</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#82">Engine</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#83">Suspension</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#84">Tires
                                                and Wheels</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#85">Chemicals,
                                                Lubes and Tools</a>
                                        </li>

                                    </ul>

                                </li>
                                <li style="opacity: 1;">
                                    <a href="#68">Cruiser</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#69">ATV</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#70">Sport
                                        Bike</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#71">Harley-Davidson</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#72">Watercraft</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#73">Snowmobile</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#74">Scooter</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#75">Metric
                                    </a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#76">Used
                                        Bikes</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#77">Accessories</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a href="#78">Apparel</a>
                                </li>

                            </ul>


                        </li>
                        <li>
                            <a href="#4" data-letters="Selling Cars" class="text-decoration-none" <span>Selling
                                Cars</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 0;">
                                    <a href="#86">New
                                        Cars</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#87">Old
                                        Cars</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#88">Make
                                        and Model</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#89">Body
                                        Type</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#90">Price</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#91">Year</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#92">Engine
                                        Capacity</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#93">Mileage</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#94">Transmission</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#95">Fuel
                                    </a>
                                </li>

                            </ul>


                        </li>
                        <li class="">
                            <a href="#5" data-letters="Spare Parts" class="text-decoration-none"><span>Spare
                                    Parts</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 0;">
                                    <a href="#96">Motoren</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#97">Getriebe</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#98">Hydraulisch</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#99">Reifen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#100" class="parent sf-with-ul">Hi-Tech</a>
                                    <ul class="simple_menu" style="display: none;">
                                        <li style="opacity: 0;">
                                            <a href="#108">GPS</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#109">Bildschirme</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#110">Booster</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#111">Lautlautsprecher</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#112">Spielekonsole</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#113">Videokameras</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a href="#114">Bordcomputer</a>
                                        </li>

                                    </ul>

                                </li>
                                <li style="opacity: 0;">
                                    <a href="#101">Malen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#102">Beleuchtung</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#103">Felgen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#104">Bremsen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#105">Batterien</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#106">Leisten</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="#107">Restyling</a>
                                </li>

                            </ul>


                        </li>
                    </ul>
                </div>
                <script>
                    (function ($) {
                        $(window).load(function () {
                            var o = $('.sf-menu');
                            o.superfish();
                            o.find('li a').each(function () {
                                if ($(location).attr('href').indexOf($(this).attr('href')) >= 0) {
                                    $(this).addClass('active');
                                    return;
                                }
                            })
                            if (o.parents('aside').length) {
                                var width = $('.container').outerWidth() - $('aside').outerWidth();
                                o.find('.sf-mega').each(function () {
                                    $(this).width(width);
                                })
                            }
                        });
                    })(jQuery);
                </script>

                <div class="box-cart">
                    <div id="cart" class="cart toggle-wrap">
                        <button type="button" data-loading-text="Loading..." class="toggle">
                            <i class="fa fa-shopping-bag"></i>
                            <strong>Shopping Cart: </strong>
                            <span id="cart-total" class="cart-total"> 0 item(s) </span>

                            <span id="cart-total2" class="cart-total2">0 item(s)</span>

                        </button>
                        <ul class="pull-right toggle_cont">
                            <li>
                                <h3>Shopping Cart: </h3>
                            </li>

                            <li>
                                <p class="text-left">Your shopping cart is empty!</p>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

{{#section 'script'}}
<script>
    (function ($) {
        $(window).load(function () {
            var o = $('.sf-menu');
            o.superfish();
            o.find('li a').each(function () {
                if ($(location).attr('href').indexOf($(this).attr('href')) >= 0) {
                    $(this).addClass('active');
                    return;
                }
            })
            if (o.parents('aside').length) {
                var width = $('.container').outerWidth() - $('aside').outerWidth();
                o.find('.sf-mega').each(function () {
                    $(this).width(width);
                })
            }
        });
    })(jQuery);
</script>
{{/section}}