<header>
    <div class="homebuilder clearfix header-top">
        <div class="tm-container ">
            <div class="tm-inner">

                <div class="row row-level-1 ">
                    <div class="row-inner  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-inner container">
                                <span><span class="tx-open">24/7 CUSTOMER SERVICE - </span>

                                    <a href="callto:8001234567" class="text-decoration-none"><span>(800)
                                            123-4567</span></a>
                                </span>


                                <nav id="top-links" class="nav toggle-wrap">
                                    <a class="toggle" href="#">
                                        <i class="fa fa-user"></i> <span>My Account</span>
                                    </a>
                                    <ul class="toggle_cont">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-decoration-none" href="/login"
                                                id="myAccountDropdown" role="button" data-bs-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <span>My Account</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end text-start mx-auto show"
                                                aria-labelledby="myAccountDropdown"
                                                style="background-color: rgb(87, 183, 231);transform: translate(-8px, 15px);/*  */inset: 0px auto auto 0px;margin: 0px;"
                                                data-popper-placement="bottom-end">
                                                <li><a class="dropdown-item " href="/login">Login</a></li>
                                                <li><a class="dropdown-item " href="/register">Register</a>
                                                </li>
                                                <li><a class="dropdown-item " href="#">Wishlist</a></li>
                                                <li><a class="dropdown-item " href="#">Shopping Cart</a></li>
                                                <li><a class="dropdown-item " href="#">Checkout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="homebuilder clearfix stuck-menu">
        <div class="tm-container ">
            <div class="tm-inner">

                <div class="row row-level-1 ">
                    <div class="row-inner  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-inner container">
                                <div class="row">

                                    <div class="col-md-3 mb-3">
                                        <h1 class="logo">
                                            <a href="/">
                                                <img src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/logo-270x44.png"
                                                    title="StoreFlex" alt="StoreFlex" class="img-responsive">
                                            </a>

                                        </h1>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <div id="search" class="search">
                                            <input type="text" name="search" value="" placeholder="Search...">
                                            <button type="button" class="button-search"><span
                                                    class="bi bi-search"></span></button>
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="content">
                                            <a href="#" class="header-btn fa fa-paper-plane text-decoration-none"
                                                style="margin-left: 242px;">Free shipping
                                                <br> Worldwide</a>
                                            <a href="#" class="header-btn fa fa-star text-decoration-none">Daily
                                                deals &amp; <br> Offers</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    <div class=" stuck-menu header-navigation">
        <div class="navigation" style="margin-top: -0.75rem;">

            <div class="container">
                <div class="megamenu">
                    <h3></h3>
                    <ul class="sf-menu sf-js-enabled sf-arrows">
                        <li class="">
                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=1"
                                data-letters="Car Audio" class="sf-with-ul"><span>Car Audio</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 0;" class="">
                                    <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=18"
                                        class="parent sf-with-ul">Stereos</a>
                                    <ul class="simple_menu" style="display: none;">
                                        <li style="opacity: 1;">
                                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=34"
                                                class="parent sf-with-ul">Single DIN Stereos</a>
                                            <ul class="simple_menu" style="display: none;">
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=39">Touch
                                                        Screen Stereos</a>
                                                </li>
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=40">Bluetooth
                                                        Stereos</a>
                                                </li>
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=41">Classic
                                                        Car Stereos</a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li style="opacity: 1;" class="">
                                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=35"
                                                class="parent sf-with-ul">Double DIN Stereos</a>
                                            <ul class="simple_menu" style="display: none;">
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=42">Detachable</a>
                                                </li>
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=43">Non-Detachable</a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=36">Factory
                                                Replacement Stereos</a>
                                        </li>
                                        <li style="opacity: 1;">
                                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=37"
                                                class="parent sf-with-ul">Digital Media Receivers</a>
                                            <ul class="simple_menu" style="display: none;">
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=44">In-Dash
                                                        With DVD</a>
                                                </li>
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=45">In-Dash
                                                        With GPS Navigation</a>
                                                </li>
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=46">In-Dash
                                                        With Satellite Radio</a>
                                                </li>
                                                <li style="opacity: 0;">
                                                    <a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=47">MP3
                                                        Playback</a>
                                                </li>

                                            </ul>

                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=38">Installation
                                                Parts</a>
                                        </li>

                                    </ul>

                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=20">Speskers</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=25">Amplifiers</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28">Subwoofers</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=29">Equalizer</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=30">Accessories</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=31">Batteries
                                        &amp; Power</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=32">Bluetooth</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=33">Headphones</a>
                                </li>

                            </ul>


                        </li>
                        <li class="">
                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=2"
                                data-letters="Car Tuning" class="sf-with-ul"><span>Car Tuning</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=48">Motoren</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=49">Getriebe</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=50">Hydraulisch</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=51">Reifen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=52"
                                        class="parent sf-with-ul">Hi-Tech</a>
                                    <ul class="simple_menu" style="display: none;">
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=60">GPS</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=61">Bildschirme</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=62">Booster</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=63">Lautlautsprecher</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=64">Spielekonsole</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=65">Videokameras</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=66">Bordcomputer</a>
                                        </li>

                                    </ul>

                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=53">Malen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=54">Beleuchtung</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=55">Felgen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=56">Bremsen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=57">Batterien</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=58">Leisten</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=59">Restyling</a>
                                </li>

                            </ul>


                        </li>
                        <li class="">
                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=3"
                                data-letters="Motorcycle" class="sf-with-ul"><span>Motorcycle</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 1;" class="">
                                    <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=67"
                                        class="parent sf-with-ul">Dirt Bike</a>
                                    <ul class="simple_menu" style="display: none;">
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=79">Apparel</a>
                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=80">Brakes</a>
                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=81">Handling</a>
                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=82">Engine</a>
                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=83">Suspension</a>
                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=84">Tires
                                                and Wheels</a>
                                        </li>
                                        <li style="opacity: 1;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=85">Chemicals,
                                                Lubes and Tools</a>
                                        </li>

                                    </ul>

                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=68">Cruiser</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=69">ATV</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=70">Sport
                                        Bike</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=71">Harley-Davidson</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=72">Watercraft</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=73">Snowmobile</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=74">Scooter</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=75">Metric
                                    </a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=76">Used
                                        Bikes</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=77">Accessories</a>
                                </li>
                                <li style="opacity: 1;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=78">Apparel</a>
                                </li>

                            </ul>


                        </li>
                        <li class="">
                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=4"
                                data-letters="Selling Cars" class="sf-with-ul"><span>Selling Cars</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=86">New
                                        Cars</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=87">Old
                                        Cars</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=88">Make
                                        and Model</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=89">Body
                                        Type</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=90">Price</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=91">Year</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=92">Engine
                                        Capacity</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=93">Mileage</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=94">Transmission</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=95">Fuel
                                    </a>
                                </li>

                            </ul>


                        </li>
                        <li class="">
                            <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=5"
                                data-letters="Spare Parts" class="sf-with-ul"><span>Spare Parts</span></a>
                            <ul class="simple_menu" style="display: none;">
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=96">Motoren</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=97">Getriebe</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=98">Hydraulisch</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=99">Reifen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=100"
                                        class="parent sf-with-ul">Hi-Tech</a>
                                    <ul class="simple_menu" style="display: none;">
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=108">GPS</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=109">Bildschirme</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=110">Booster</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=111">Lautlautsprecher</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=112">Spielekonsole</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=113">Videokameras</a>
                                        </li>
                                        <li style="opacity: 0;">
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=114">Bordcomputer</a>
                                        </li>

                                    </ul>

                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=101">Malen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=102">Beleuchtung</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=103">Felgen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=104">Bremsen</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=105">Batterien</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=106">Leisten</a>
                                </li>
                                <li style="opacity: 0;">
                                    <a
                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=107">Restyling</a>
                                </li>

                            </ul>


                        </li>
                    </ul>
                </div>
                <script>
                    ; (function ($) {
                        $(window).load(function () {
                            var o = $('.sf-menu');
                            o.superfish();
                            o.find('li a').each(function () {
                                if ($(location).attr('href').indexOf($(this).attr('href')) >= 0) {
                                    $(this).addClass('active');
                                    return;
                                }
                            })
                            if (o.parents('aside').length) {
                                var width = $('.container').outerWidth() - $('aside').outerWidth();
                                o.find('.sf-mega').each(function () {
                                    $(this).width(width);
                                })
                            }
                        });
                    })(jQuery);
                </script>

                <div class="box-cart">
                    <div id="cart" class="cart toggle-wrap">
                        <button type="button" data-loading-text="Loading..." class="toggle">
                            <i class="bi bi-handbag-fill"></i>
                            <a href="/cart" id="cart-total" class="cart-total text-decoration-none"> 0 item(s) </a>
                        </button>
                        <ul class="pull-right toggle_cont">
                            <li>
                                <h3>Shopping Cart: </h3>
                            </li>

                            <li>
                                <p class="text-left">Your shopping cart is empty!</p>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>