<div class="mt-4">
    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa</label>
            <input name="q" type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
    <svg width="212" height="188" viewBox="0 0 212 188" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="101.5" cy="37.5" r="37.5" fill="#EAB4B4" />
        <path d="M1 184.203C35.3333 113.87 125.4 15.4032 211 184.203C206.2 189.003 69 186.203 1 184.203Z" fill="#EAB4B4"
            stroke="#B03A3A" />
    </svg>

</div>