<!DOCTYPE html>
<html dir="ltr" lang="en" class="desktop portrait"><!--<![endif]-->

<head>
    {{> head }}
</head>

<body class="app">
    <div id="page">
        <div id="page-preloader" class="">
            <div class="page-preloader__cnt">

                <div class="preloader"></div>
            </div>
        </div>
        {{> header }}

        {{{ body }}}

        {{> footer }}
    </div>

    {{!-- Script custom --}}
    {{{yield 'script'}}}

    {{!-- {{> script }} --}}
</body>

</html>