<!DOCTYPE html>
<html dir="ltr" lang="en" class="desktop portrait"><!--<![endif]-->

<head>
    {{> head }}
</head>

<body class="">

    <div id="page">
        {{> header }}

        {{{ body }}}

        {{> footer }}
    </div>

    {{> script }}
</body>

</html>