<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-left-ct">

    <div class="col-lg-3 col-md-4 col-sm-12 col-sm-12 main-menu ct-test ">
        <div class="header-main-menu"><i class="fa fa-bars"></i>Danh mục sản phẩm</div>
        <ul class="main_menu_dropdown">
            <li class="hadsub-menu">
                <a class="menu-link" href="https://shop2banh.vn/do-choi-xe-may.html" title="Đồ chơi xe máy"><i
                        class="menu-01"></i>
                    <h2 class="">Đồ chơi xe máy</h2> <i class="fa fa-angle-right"></i>
                </a>
                <span>
                    <a href="https://shop2banh.vn/kinh-chieu-hau-oc-kieng.html" title="Kinh hau">Kính hậu</a>,<a
                        href="https://shop2banh.vn/bao-tay-gu.html" title="Bao tay">Bao tay</a>,<a
                        href="https://shop2banh.vn/tay-thang-phu-kien.html" title="Tay thang">Tay thắng</a>, <a
                        href="https://shop2banh.vn/den-led-xe-may.html" title="Đèn led xe máy">Đèn</a> </span>
                <ul class="submenu-lv1">
                    <li>
                        <a href="https://shop2banh.vn/tay-thang-phu-kien.html" title="Tay thắng + Phụ kiện">Tay thắng +
                            Phụ kiện</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/bao-tay-gu.html" title="Bao tay + Gù">Bao tay + Gù</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/kinh-chieu-hau-oc-kieng.html"
                            title="Kính chiếu hậu + Ốc kiểng">Kính chiếu hậu + Ốc kiểng</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/den-led-xe-may.html" title="Đèn led xe máy">Đèn led xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/dia-xe-may.html" title="Đĩa xe máy">Đĩa xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/do-kieng-xe-may-khac.html" title="Đồ kiểng xe máy khác">Đồ kiểng
                            xe máy khác</a>
                    </li>
                </ul>
            </li>
            <li class="hadsub-menu">
                <a class="menu-link" href="https://shop2banh.vn/phu-tung-thay-the.html" title="Phụ tùng thay thế"><i
                        class="menu-02"></i>
                    <h2 class="">Phụ tùng thay thế</h2> <i class="fa fa-angle-right"></i>
                </a>
                <span>
                    <a href="https://shop2banh.vn/nhong-sen-dia.html" title="NSD">NSD</a>,<a
                        href="https://shop2banh.vn/phuoc-xe-may.html" title="Phuoc">Phuộc</a>,<a
                        href="https://shop2banh.vn/bugi-xe-may.html" title="Bugi">Bugi</a>, <a
                        href="https://shop2banh.vn/binh-ac-quy.html" title="Binh ac quy">Ắc quy</a>,<a
                        href="https://shop2banh.vn/loc-gio-xe-may.html" title="lọc gió xe máy">Lọc gió</a> </span>
                <ul class="submenu-lv1">
                    <li>
                        <a href="https://shop2banh.vn/phuoc-xe-may.html" title="Phuộc xe máy">Phuộc xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/nhong-sen-dia.html" title="Nhông sên dĩa">Nhông sên dĩa</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/bo-thang-ma-phanh.html" title="Bố thắng (Má phanh)">Bố thắng (Má
                            phanh)</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/banh-mam-xe-may.html" title="Mâm xe máy">Mâm xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/bugi-xe-may.html" title="Bugi + IC xe máy">Bugi + IC xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/binh-ac-quy.html" title="Bình ắc quy xe máy">Bình ắc quy xe
                            máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/day-curoa.html" title="Dây Curoa xe máy">Dây Curoa xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/bo-noi-bo-3-cang-bi-noi.html" title="Bộ nồi xe máy">Bộ nồi xe
                            máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/loc-gio-xe-may.html" title="Lọc gió xe máy">Lọc gió xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/loc-nhot-xe-may.html" title="Lọc nhớt xe máy">Lọc nhớt xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/heo-dau-xe-may.html" title="Heo dầu xe máy">Heo dầu xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/khoa-xe-may.html" title="Khóa xe máy">Khóa xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/po-xe-may.html" title="Pô xe máy">Pô xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-khac.html" title="Phụ tùng khác">Phụ tùng khác</a>
                    </li>
                </ul>
            </li>
            <li class="hadsub-menu">
                <a class="menu-link" href="https://shop2banh.vn/vo-xe-lop-xe.html" title="Vỏ xe máy (Lốp xe)"><i
                        class="menu-03"></i>
                    <h2 class="">Vỏ xe máy (Lốp xe)</h2> <i class="fa fa-angle-right"></i>
                </a>
                <span>
                    <a href="https://shop2banh.vn/vo-xe-michelin.html" title="Vỏ xe Michelin">Michelin</a>, <a
                        href="https://shop2banh.vn/vo-xe-dunlop.html" title="Vỏ xe Dunlop">Dunlop</a>, <a
                        href="https://shop2banh.vn/vo-xe-maxxis.html" title="Vỏ xe Maxxis">Maxxis</a>,<a
                        href="https://shop2banh.vn/vo-xe-pirelli.html" title="Vỏ xe Pirelli">Pirelli</a> </span>
                <ul class="submenu-lv1">
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-michelin.html" title="Vỏ xe Michelin">Vỏ xe Michelin</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-dunlop.html" title="Vỏ xe Dunlop">Vỏ xe Dunlop</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-maxxis.html" title="Vỏ xe Maxxis">Vỏ xe Maxxis</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-pirelli.html" title="Vỏ xe Pirelli">Vỏ xe Pirelli</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-aspira.html" title="Vỏ xe Aspira">Vỏ xe Aspira</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-continental.html" title="Vỏ xe Continental">Vỏ xe
                            Continental</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-timsun.html" title="Vỏ xe Timsun">Vỏ xe Timsun</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-chengshin.html" title="Vỏ xe ChengShin">Vỏ xe ChengShin</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-metzeler.html" title="Vỏ xe Metzeler">Vỏ xe Metzeler</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-ceat.html" title="Vỏ xe CEAT">Vỏ xe CEAT</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-swallow.html" title="Vỏ xe Swallow">Vỏ xe Swallow</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/vo-xe-deli.html" title="Vỏ xe Deli">Vỏ xe Deli</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/lop-chong-dinh.html" title="Lốp chống đinh">Lốp chống đinh</a>
                    </li>
                </ul>
            </li>
            <li class="hadsub-menu">
                <a class="menu-link" href="https://shop2banh.vn/nhot-xe-may.html" title="Nhớt xe máy"><i
                        class="menu-04"></i>
                    <h2 class="">Nhớt xe máy</h2> <i class="fa fa-angle-right"></i>
                </a>
                <span>
                    <a href="https://shop2banh.vn/motul.html" title="Nhớt Motul">Motul</a>, <a
                        href="https://shop2banh.vn/shell-advance.html" title="Nhớt Shell">Shell</a>, <a
                        href="https://shop2banh.vn/liqui-moly.html" title="Nhớt Liqui Moly">Liqui Moly</a>, <a
                        href="https://shop2banh.vn/repsol.html" title="Nhớt Repsol">Repsol</a> </span>
                <ul class="submenu-lv1">
                    <li>
                        <a href="https://shop2banh.vn/motul.html" title="Motul">Motul</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/repsol.html" title="Repsol">Repsol</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/shell-advance.html" title="Shell Advance">Shell Advance</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/liqui-moly.html" title="Liqui Moly">Liqui Moly</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/amsoil.html" title="Amsoil">Amsoil</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/mobil-1.html" title="Mobil">Mobil</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/fuchs.html" title="Fuchs">Fuchs</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/wolver.html" title="Wolver">Wolver</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/ipone.html" title="Ipone">Ipone</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/bao-duong-xe-may.html" title="Bảo dưỡng xe máy">Bảo dưỡng xe
                            máy</a>
                    </li>
                </ul>
            </li>
            <li class="hadsub-menu">
                <a class="menu-link" href="https://shop2banh.vn/phu-kien-cho-biker.html" title="Phụ kiện cho biker"><i
                        class="menu-05"></i>
                    <h2 class="">Phụ kiện cho biker</h2> <i class="fa fa-angle-right"></i>
                </a>
                <span>
                    <a href="https://shop2banh.vn/non-bao-hiem.html" title="Nan bao hiem">Nón bảo hiểm</a>, <a
                        href="https://shop2banh.vn/do-phuot.html" title="Do phuot">Đồ phượt</a> </span>
                <ul class="submenu-lv1">
                    <li>
                        <a href="https://shop2banh.vn/do-phuot.html" title="Đồ phượt">Đồ phượt</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/ao-giap-bao-ho.html" title="Áo giáp bảo hộ">Áo giáp bảo hộ</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/gang-tay.html" title="Găng tay xe máy">Găng tay xe máy</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/bo-goi-bao-ve.html" title="Bó gối bảo vệ">Bó gối bảo vệ</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/non-bao-hiem.html" title="Nón bảo hiểm">Nón bảo hiểm</a>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/balo-tui-hit.html" title="Balo + Túi Hít">Balo + Túi Hít</a>
                    </li>
                </ul>
            </li>
            <li class="hadsub-menu">
                <a class="menu-link" href="https://shop2banh.vn/san-pham-theo-loai-xe.html" title="Phụ tùng theo xe"><i
                        class="menu-06"></i>
                    <h2 class="">Phụ tùng theo xe</h2> <i class="fa fa-angle-right"></i>
                </a>
                <span>
                    <a href="https://shop2banh.vn/phu-tung-honda.html" title="Honda">Honda</a>, <a
                        href="https://shop2banh.vn/phu-tung-yamaha.html" title="Yamaha">Yamaha</a>, <a
                        href="https://shop2banh.vn/phu-tung-suzuki.html" title="Suzuki">Suzuki</a>, <a
                        href="https://shop2banh.vn/phu-tung-piaggio.html" title="phụ tùng Piaggio">Piaggio</a> </span>
                <ul class="submenu-lv1 has-two-sub">
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-honda.html" title="Honda">Honda</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-air-blade.html" title="Air Blade">Air Blade</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-air-blade-2016.html" title="Air Blade 160">Air
                                    Blade 160</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-winner-x.html" title="Winner X">Winner X</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-sh-125-150i.html" title="SH 125i/150i">SH
                                    125i/150i</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-sh-2017.html" title="SH 160i">SH 160i</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-sh-mode.html" title="SH Mode ">SH Mode </a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-sh-300i.html" title="SH 300i">SH 300i</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-sh350i.html" title="SH350i">SH350i</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-lead-125-fi.html" title="Lead">Lead</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-vision-2016.html" title="Vision">Vision</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-vario-150.html" title="Vario 150/125">Vario
                                    150/125</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-vario-160.html" title="Vario 160">Vario 160</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-click-125.html" title="Click 125i/150i">Click
                                    125i/150i</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-click-160.html" title="Click 160">Click 160</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-wave-100-110-rsx.html" title="Wave">Wave</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-future.html" title="Future">Future</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-honda-blade.html" title="Blade">Blade</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-pcx-125.html" title="PCX">PCX</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-scoopy.html" title="Scoopy 110">Scoopy 110</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-sonic-150.html" title="Sonic 150">Sonic 150</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-yamaha.html" title="Yamaha">Yamaha</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/do-choi-exciter-155.html" title="Exciter 155">Exciter
                                    155</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-exciter-150-2015.html" title="Exciter 150">Exciter
                                    150</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-exciter-135.html" title="Exciter 135">Exciter
                                    135</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-nozza.html" title="Grande ">Grande </a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-nvx-155.html" title="NVX">NVX</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-janus.html" title="Janus">Janus</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-sirius-fi.html" title="Sirius">Sirius</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-jupiter-fi.html" title="Jupiter">Jupiter</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-freego.html" title="Freego">Freego</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-nouvo-sx.html" title="Nouvo">Nouvo</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-mio.html" title="Mio">Mio</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-pg-1.html" title="PG-1">PG-1</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-yamaha-r15.html" title="R15">R15</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-xs155r.html" title="XS155R">XS155R</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-suzuki.html" title="Suzuki">Suzuki</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/do-choi-raider-150.html" title="Raider 150">Raider 150</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-satria.html" title="Satria F150">Satria
                                    F150</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-axelo-125.html" title="Axelo 125">Axelo 125</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-gsx-r150.html" title="GSX R150">GSX R150</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-gsx-s150.html" title="GSX S150">GSX S150</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-piaggio.html" title="Piaggio">Piaggio</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-liberty.html" title="Liberty">Liberty</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-medley.html" title="Medley">Medley</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-vespa.html" title="Vespa">Vespa</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-vespa-sprint.html" title="Vespa Sprint">Vespa
                                    Sprint</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-vespa-primavera.html"
                                    title="Vespa Primavera">Vespa Primavera</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-vespa-lx.html" title="Vespa Lx">Vespa Lx</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-vespa-gts.html" title="Vespa GTS">Vespa GTS</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-sym.html" title="Sym">Sym</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/do-choi-elizabeth.html" title="Elizabeth">Elizabeth</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/husky-125.html" title="Husky">Husky</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-moto-pkl.html" title="Moto PKL">Moto PKL</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/do-choi-kawasaki-z1000.html"
                                    title="Kawasaki Z1000">Kawasaki Z1000</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/do-choi-xe-r6.html" title="Yamaha R6">Yamaha R6</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://shop2banh.vn/phu-tung-xe-dien.html" title="Xe máy điện">Xe máy điện</a>
                        <ul class="submenu-lv2">
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-vinfast-feliz.html"
                                    title="Vinfast Feliz S">Vinfast Feliz S</a>
                            </li>
                            <li>
                                <a href="https://shop2banh.vn/phu-tung-vinfast-klara.html" title="Vinfast Klara">Vinfast
                                    Klara</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 col-md-12 content">
        <div class="ct-news-sub-menu">
            <ul>
                <li><a href="https://shop2banh.vn/tu-van.html" title="Tư vấn"><img style="width: 20px; height: 20px;"
                            src="https://shop2banh.vn/style/frontend/theme/default/svg/ic-home.svg"></a></li>
                <li><a href="https://shop2banh.vn/tu-van-vo-lop-xe.html" title="Vỏ lốp xe">Vỏ lốp xe</a></li>
                <li><a href="https://shop2banh.vn/tu-van-nhot-xe-may.html" title="Dầu nhớt">Dầu nhớt</a></li>
                <li><a href="https://shop2banh.vn/tu-van-phuoc-xe-may.html" title="Phuộc">Phuộc</a></li>
                <li><a href="https://shop2banh.vn/tu-van-nhong-sen-dia.html" title="Nhông sên dĩa">Nhông sên dĩa</a>
                </li>
                <li><a href="https://shop2banh.vn/tu-van-do-choi-xe.html" title="Đồ chơi xe">Đồ chơi xe</a></li>
                <li><a href="https://shop2banh.vn/tu-van-loc-gio-xe-may.html" title="Lọc gió">Lọc gió</a></li>
                <li><a href="https://shop2banh.vn/tu-van-bao-duong-xe-may.html" title="Bảo dưỡng">Bảo dưỡng</a></li>
                <li class="ct-nc-active"><a href="https://shop2banh.vn/tin-tuc-shop2banh.html" title="Tin tức">Tin
                        tức</a></li>
            </ul>
        </div>

        <div class="main-content-box news-catalog news-sub-catalog">
            <div class="ct-news-sub-cat">
                <h1>Tin tức</h1>

                <div class="ct-news-sub-cat-wrp">
                    <div class="ct-news-sub-cat-items ">
                        <a href="https://shop2banh.vn/kinh-nghiem-hay.html" title="Kinh nghiệm hay">Kinh nghiệm hay</a>
                    </div>
                    <div class="ct-news-sub-cat-items ">
                        <a href="https://shop2banh.vn/tu-van-xe-nhap.html" title="Thị trường xe máy">Thị trường xe
                            máy</a>
                    </div>
                    <div class="ct-news-sub-cat-items ">
                        <a href="https://shop2banh.vn/khuyen-mai.html" title="Khuyến mãi">Khuyến mãi</a>
                    </div>
                </div>
            </div>

            <style type="text/css">
                @media(max-width: 480px) {
                    .ct-news-big img {
                        height: 190px;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            </style>

            <div class="ct-news-item-wrp">
                <div class="ct-news-top-block">
                    <div class="ct-news-big">
                        <a href="https://shop2banh.vn/tu-van/xe-may-dien-bi-chap-chay-nguyen-nhan-do-dau-va-cach-phong-tranh-5077.html"
                            title="Xe máy điện bị chập cháy: Nguyên nhân do đâu và cách phòng tránh">
                            <div style="min-height: 152px;">
                                <img src="https://shop2banh.vn/images/thumbs/2024/05/xe-may-dien-bi-chap-chay-nguyen-nhan-do-dau-va-cach-phong-tranh-news-5077.jpg"
                                    title="Xe máy điện bị chập cháy: Nguyên nhân do đâu và cách phòng tránh">
                            </div>
                            <h3>Xe máy điện bị chập cháy: Nguyên nhân do đâu và cách phòng tránh</h3>
                            <p>Xe máy điện nếu sử dụng không đúng cách sẽ rất dễ gây cháy và nguyên nhân cháy đến từ
                                nhiều vấn đề khác nhau. Xe máy điện bị chập cháy: Nguyên nhân do đâu và cách phòng
                                tránh!</p>
                            <label>Kinh nghiệm hay</label>
                        </a>
                    </div>
                </div>
                <div class="ct-news-body-block">
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/tet-diet-sau-bo-la-ngay-nao-mam-cung-gom-nhung-gi-5066.html"
                                title="Tết diệt sâu bọ là ngày nào? Mâm cúng gồm những gì?"><img
                                    src="https://shop2banh.vn/images/thumbs/2024/05/tet-diet-sau-bo-la-ngay-nao-mam-cung-gom-nhung-gi-news-5066.jpg"
                                    alt="Tết diệt sâu bọ là ngày nào? Mâm cúng gồm những gì?"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/tet-diet-sau-bo-la-ngay-nao-mam-cung-gom-nhung-gi-5066.html"
                                title="Tết diệt sâu bọ là ngày nào? Mâm cúng gồm những gì?">
                                <h3>Tết diệt sâu bọ là ngày nào? Mâm cúng gồm những gì?</h3>
                            </a>
                            <div class="ct-description-items-news">Ở Việt Nam ít bạn trẻ biết về ngày Tết diệt sâu bọ,
                                đây là ngày lễ gì và bắt đầu vào ngày nào. Tết diệt sâu bọ là ngày nào? Mâm cúng gồm
                                những gì? Hãy cùng tham khảo nội dung dưới đây để nắm rõ nhé!!!</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespa-gts-iget-5058.html"
                                title="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa GTS iGet"><img
                                    src="https://shop2banh.vn/images/thumbs/2024/05/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespa-gts-iget-news-5058.jpg"
                                    alt="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa GTS iGet"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespa-gts-iget-5058.html"
                                title="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa GTS iGet">
                                <h3>Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa GTS iGet</h3>
                            </a>
                            <div class="ct-description-items-news">Tín hiệu Oil Change trên dòng xe tay ga Vespa GTS
                                iGet đôi khi hay bị lỗi sau khi đã thay nhớt, nếu chưa biết cách tắt thì sau đây là
                                Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa GTS iGet!!!</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/cach-kiem-tra-xe-may-bi-phat-nguoi-tai-tphcm-moi-nhat-2024-5056.html"
                                title="Cách kiểm tra xe máy bị phạt nguội tại TPHCM mới nhất 2024"><img
                                    src="https://shop2banh.vn/images/thumbs/2024/05/cach-kiem-tra-xe-may-bi-phat-nguoi-tai-tphcm-moi-nhat-2024-news-5056.jpg"
                                    alt="Cách kiểm tra xe máy bị phạt nguội tại TPHCM mới nhất 2024"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/cach-kiem-tra-xe-may-bi-phat-nguoi-tai-tphcm-moi-nhat-2024-5056.html"
                                title="Cách kiểm tra xe máy bị phạt nguội tại TPHCM mới nhất 2024">
                                <h3>Cách kiểm tra xe máy bị phạt nguội tại TPHCM mới nhất 2024</h3>
                            </a>
                            <div class="ct-description-items-news">Hiện nay hình thức phạt nguội xe máy rất phổ biến để
                                hạn chế hành vi vi phạm giao thông của người lái xe. Nếu các bạn chưa biết thì dưới đây
                                là Cách kiểm tra xe máy bị phạt nguội tại TPHCM mới nhất 2024!!!</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespaprimavera-iget-5052.html"
                                title="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe VespaPrimavera iGet"><img
                                    class=" ls-is-cached lazyloaded"
                                    src="https://shop2banh.vn/images/thumbs/2024/05/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespaprimavera-iget-news-5052.jpg"
                                    data-src="https://shop2banh.vn/images/thumbs/2024/05/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespaprimavera-iget-news-5052.jpg"
                                    alt="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe VespaPrimavera iGet"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespaprimavera-iget-5052.html"
                                title="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe VespaPrimavera iGet">
                                <h3>Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe VespaPrimavera iGet</h3>
                            </a>
                            <div class="ct-description-items-news">Tín hiệu Oil Change trên dòng xe tay ga Vespa
                                Primavera iGet đôi khi hay bị lỗi sau khi đã thay nhớt, nếu chưa biết cách tắt thì sau
                                đây là Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa Primavera iGet!!!</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-nha-trang-khanh-hoa-5050.html"
                                title="Các tuyến đường bị ngập nước vào mùa mưa ở Nha Trang, Khánh Hòa"><img
                                    class=" ls-is-cached lazyloaded"
                                    src="https://shop2banh.vn/images/thumbs/2024/05/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-nha-trang-khanh-hoa-news-5050.jpg"
                                    data-src="https://shop2banh.vn/images/thumbs/2024/05/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-nha-trang-khanh-hoa-news-5050.jpg"
                                    alt="Các tuyến đường bị ngập nước vào mùa mưa ở Nha Trang, Khánh Hòa"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-nha-trang-khanh-hoa-5050.html"
                                title="Các tuyến đường bị ngập nước vào mùa mưa ở Nha Trang, Khánh Hòa">
                                <h3>Các tuyến đường bị ngập nước vào mùa mưa ở Nha Trang, Khánh Hòa</h3>
                            </a>
                            <div class="ct-description-items-news">Tại Nha Trang, Khánh Hòa cứ vào mùa mưa thì trên địa
                                bàn sẽ xuất hiện những điểm ngập nước làm cản trở quá trình di chuyển của người dân. Sau
                                đây là Các tuyến đường bị ngập nước vào mùa mưa ở Nha Trang, Khánh Hòa.</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespa-sprint-iget-5042.html"
                                title="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa Sprint iGet"><img
                                    class=" lazyloaded"
                                    src="https://shop2banh.vn/images/thumbs/2024/05/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespa-sprint-iget-news-5042.jpg"
                                    data-src="https://shop2banh.vn/images/thumbs/2024/05/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespa-sprint-iget-news-5042.jpg"
                                    alt="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa Sprint iGet"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/huong-dan-cach-tat-den-bao-nhot-oil-change-tren-xe-vespa-sprint-iget-5042.html"
                                title="Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa Sprint iGet">
                                <h3>Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa Sprint iGet</h3>
                            </a>
                            <div class="ct-description-items-news">Tín hiệu Oil Change trên dòng xe tay ga Vespa Spirnt
                                iGet đôi khi hay bị lỗi sau khi đã thay nhớt, nếu chưa biết cách tắt thì sau đây là
                                Hướng dẫn cách tắt đèn báo nhớt Oil Change trên xe Vespa Sprint iGet</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-thua-thien-hue-5040.html"
                                title="Các tuyến đường bị ngập nước vào mùa mưa ở Thừa Thiên Huế"><img
                                    class=" lazyloaded"
                                    src="https://shop2banh.vn/images/thumbs/2024/05/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-thua-thien-hue-news-5040.jpg"
                                    data-src="https://shop2banh.vn/images/thumbs/2024/05/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-thua-thien-hue-news-5040.jpg"
                                    alt="Các tuyến đường bị ngập nước vào mùa mưa ở Thừa Thiên Huế"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-thua-thien-hue-5040.html"
                                title="Các tuyến đường bị ngập nước vào mùa mưa ở Thừa Thiên Huế">
                                <h3>Các tuyến đường bị ngập nước vào mùa mưa ở Thừa Thiên Huế</h3>
                            </a>
                            <div class="ct-description-items-news">Tại Huế cứ vào mùa mưa thì trên địa bàn sẽ xuất hiện
                                những điểm ngập nước làm cản trở quá trình di chuyển của người dân. Sau đây Các tuyến
                                đường bị ngập nước vào mùa mưa ở Thừa Thiên Huế!!!</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-quang-nam-5034.html"
                                title="Các tuyến đường bị ngập nước vào mùa mưa ở Quảng Nam"><img
                                    class=" ls-is-cached lazyloaded"
                                    src="https://shop2banh.vn/images/thumbs/2024/05/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-quang-nam-news-5034.jpg"
                                    data-src="https://shop2banh.vn/images/thumbs/2024/05/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-quang-nam-news-5034.jpg"
                                    alt="Các tuyến đường bị ngập nước vào mùa mưa ở Quảng Nam"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/cac-tuyen-duong-bi-ngap-nuoc-vao-mua-mua-o-quang-nam-5034.html"
                                title="Các tuyến đường bị ngập nước vào mùa mưa ở Quảng Nam">
                                <h3>Các tuyến đường bị ngập nước vào mùa mưa ở Quảng Nam</h3>
                            </a>
                            <div class="ct-description-items-news">Tại Quảng Nam cứ vào mưa mưa thì trên địa bàn sẽ xuất
                                hiện những điểm ngập nước làm cản trở quá trình di chuyển của người dân. Sau đây là Các
                                tuyến đường bị ngập nước vào mùa mưa ở Quảng Nam!</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                    <div class="ct-items-news">
                        <div class="ct-img-items-news">
                            <a href="https://shop2banh.vn/tu-van/nam-2024-loi-khong-gat-chan-chong-xe-may-co-bi-phat-khong-5024.html"
                                title="Năm 2024, lỗi không gạt chân chống xe máy có bị phạt không?"><img
                                    class=" ls-is-cached lazyloaded"
                                    src="https://shop2banh.vn/images/thumbs/2024/05/nam-2024-loi-khong-gat-chan-chong-xe-may-co-bi-phat-khong-news-5024.jpg"
                                    data-src="https://shop2banh.vn/images/thumbs/2024/05/nam-2024-loi-khong-gat-chan-chong-xe-may-co-bi-phat-khong-news-5024.jpg"
                                    alt="Năm 2024, lỗi không gạt chân chống xe máy có bị phạt không?"></a>
                        </div>
                        <div class="ct-info-items-news">
                            <a href="https://shop2banh.vn/tu-van/nam-2024-loi-khong-gat-chan-chong-xe-may-co-bi-phat-khong-5024.html"
                                title="Năm 2024, lỗi không gạt chân chống xe máy có bị phạt không?">
                                <h3>Năm 2024, lỗi không gạt chân chống xe máy có bị phạt không?</h3>
                            </a>
                            <div class="ct-description-items-news">Khi di chuyển ngoài đường các bạn sẽ hay bắt gặp
                                những người chạy xe máy mà chống chân vẫn chưa gạt lên đa phần là do họ quên, tuy nhiên
                                hành vi này có vi phạm giao thông hay không? Năm 2024, lỗi không gạt chân chống xe máy
                                có bị phạt không? Hãy cùng tham khảo dưới đây!!!</div>
                            <label>Kinh nghiệm hay</label>
                        </div>
                    </div>
                </div>
                <div class="pager"><!-- pager -->
                    <div class="view_more"><a href="https://shop2banh.vn/tin-tuc-shop2banh/trang-2.html">Xem Thêm</a>
                    </div><a class="active">1</a><a title="Tin tức - Trang 2"
                        href="https://shop2banh.vn/tin-tuc-shop2banh/trang-2.html">2</a><a title="Tin tức - Trang cuối"
                        href="https://shop2banh.vn/tin-tuc-shop2banh/trang-81.html">Trang cuối</a>
                </div><!-- end pager -->
            </div>
            <div class="clearFix"></div>
        </div>


    </div><!-- end content -->

</div>