<h1>Trang Cửa hàng</h1>
<div id="product-category" class="container">
    <ul class="breadcrumb">
        <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=common/home"><i
                    class="fa fa-home"></i></a></li>
        <li><span>Subwoofers</span></li>
    </ul>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <span id="image-category" class="image-category"><img
                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-19-370x220.png"
                        alt="Subwoofers" title="Subwoofers" class="img-thumbnail"></span>
            </div>
            <div id="description-category" class="description description-category col-sm-8" style="height: 220px;">
                <div class="description-category__cont">
                    <h2>Subwoofers</h2>
                    <p>Our products are the perfect combination of the latest fashion trends, real durability and
                        flexibility. You know that nowadays music is one of the main spheres in our society. It is a
                        gigantic machine of production different goods for mental satisfaction. It is a real mainstream;
                        moreover - it is a modern religion.</p>
                    <p>It doesn’t matter what kind of a music you listen because tastes differ but we have collected all
                        possible music-related goods in our store.</p>
                </div>
                <div class="description-category__links" style="margin-top: 40px;">
                    <a href="#" class="link show-desc" data-text-open="Show more" data-text-close="Hide">Show more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div id="html-module0" class="html-module Featured brands html-1">

                <div class="box-heading">
                    <h5>Featured brands</h5>
                </div>

                <div class="content">
                    <ul>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=5">Ugg</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=6">Coach</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=7">Frye</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=8">Asics</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=9">Converse</a></li>
                    </ul>
                </div>
            </div>

            <div class="megamenu">
                <h3></h3>
                <ul class="sf-menu sf-js-enabled sf-arrows">
                    <li class="sf-with-mega">
                        <span>Wheels</span>
                        <ul class="sf-mega" style="display: none; width: 900px;">
                            <li class="sf-mega_row" style="opacity: 0;">
                                <div class="sf-mega_section" style="width: 100%">
                                    <ul>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=70">VW
                                                Golf 7 8 inch Navigation System compatible</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=69">Volkswagen
                                                Golf 7 Bi Xenon Headlights Left Right LED</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=68">Volkswagen
                                                Amarok 2H Performance Exhaust</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=67">Vktech
                                                20pcs JDM D1 Spec Wheel Lug Nuts M12</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=66">Rockford
                                                Fosgate 3-Way Full-Range Coaxial Speaker</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=65">REVO
                                                Charger Cooler System Audi S4 S5 3.0 TFSI V6</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=64">Nissan
                                                Navara D40 2.5 Diesel dCi Turbo Downpipe</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=63">Kicker
                                                DSC5</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <script>
                ; (function ($) {
                    $(window).load(function () {
                        var o = $('.sf-menu');
                        o.superfish();
                        o.find('li a').each(function () {
                            if ($(location).attr('href').indexOf($(this).attr('href')) >= 0) {
                                $(this).addClass('active');
                                return;
                            }
                        })
                        if (o.parents('aside').length) {
                            var width = $('.container').outerWidth() - $('aside').outerWidth();
                            o.find('.sf-mega').each(function () {
                                $(this).width(width);
                            })
                        }
                    });
                })(jQuery);
            </script>

        </aside>

        <div id="content" class="col-sm-9">

            <div class="product-filter clearfix">
                <div class="product-filter_elem">
                    <div class="button-view">
                        <button type="button" id="grid-view" data-toggle="tooltip" title="" class="active"
                            data-original-title="Grid"><i class="material-design-two375"></i></button>
                        <button type="button" id="list-view" data-toggle="tooltip" title=""
                            data-original-title="List"><i class="material-design-view12"></i></button>
                    </div>
                </div>
                <div class="product-filter_elem sort">
                    <label class="control-label" for="input-sort">
                        Sort By:
                    </label>
                    <div id="sbHolder_14352789" class="sbHolder"><a id="sbToggle_14352789" href="#"
                            class="sbToggle"></a><a id="sbSelector_14352789" href="#" class="sbSelector">
                            Default
                        </a>
                        <ul id="sbOptions_14352789" class="sbOptions" style="display: none;">
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.sort_order&amp;order=ASC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.sort_order&amp;order=ASC"
                                    class="sbFocus">
                                    Default
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=pd.name&amp;order=ASC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=pd.name&amp;order=ASC">
                                    Name (A - Z)
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=pd.name&amp;order=DESC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=pd.name&amp;order=DESC">
                                    Name (Z - A)
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.price&amp;order=ASC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.price&amp;order=ASC">
                                    Price (Low &gt; High)
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.price&amp;order=DESC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.price&amp;order=DESC">
                                    Price (High &gt; Low)
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=rating&amp;order=DESC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=rating&amp;order=DESC">
                                    Rating (Highest)
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=rating&amp;order=ASC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=rating&amp;order=ASC">
                                    Rating (Lowest)
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.model&amp;order=ASC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.model&amp;order=ASC">
                                    Model (A - Z)
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.model&amp;order=DESC"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.model&amp;order=DESC">
                                    Model (Z - A)
                                </a></li>
                        </ul>
                    </div><select id="input-sort" onchange="location = this.value;" sb="14352789"
                        style="display: none;">
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.sort_order&amp;order=ASC"
                            selected="selected">
                            Default
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=pd.name&amp;order=ASC">
                            Name (A - Z)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=pd.name&amp;order=DESC">
                            Name (Z - A)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.price&amp;order=ASC">
                            Price (Low &gt; High)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.price&amp;order=DESC">
                            Price (High &gt; Low)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=rating&amp;order=DESC">
                            Rating (Highest)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=rating&amp;order=ASC">
                            Rating (Lowest)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.model&amp;order=ASC">
                            Model (A - Z)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.model&amp;order=DESC">
                            Model (Z - A)
                        </option>
                    </select>
                </div>
                <div class="product-filter_elem show pull-right">
                    <label class="control-label" for="input-limit">
                        Show:
                    </label>
                    <div id="sbHolder_93042700" class="sbHolder"><a id="sbToggle_93042700" href="#"
                            class="sbToggle"></a><a id="sbSelector_93042700" href="#" class="sbSelector">
                            6
                        </a>
                        <ul id="sbOptions_93042700" class="sbOptions" style="display: none;">
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=6"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=6"
                                    class="sbFocus">
                                    6
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=25"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=25">
                                    25
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=50"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=50">
                                    50
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=75"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=75">
                                    75
                                </a></li>
                            <li><a href="#https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=100"
                                    rel="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=100">
                                    100
                                </a></li>
                        </ul>
                    </div><select id="input-limit" onchange="location = this.value;" sb="93042700"
                        style="display: none;">
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=6"
                            selected="selected">
                            6
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=25">
                            25
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=50">
                            50
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=75">
                            75
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;limit=100">
                            100
                        </option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-thumb transition ">
                        <div class="image">
                            <a class="lazy lazy-loaded"
                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=28"
                                style="padding-bottom: 103.7037037037%">
                                <img width="270" height="280" alt="Alpine SXE-1725S" title="Alpine SXE-1725S"
                                    class="img-primary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-270x280.png">
                                <img width="270" height="280" alt="Alpine SXE-1725S" title="Alpine SXE-1725S"
                                    class="img-secondary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-270x280.png">
                            </a>
                            <div class="cart-button">
                                <button class="btn-icon quickview" type="button" data-toggle="tooltip" title=""
                                    data-rel="details" data-product="28" data-original-title="Details"><i
                                        class="fa fa-search-plus"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="wishlist.add('28');" data-original-title="Add to Wish List"><i
                                        class="fa fa-heart-o"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="compare.add('28');" data-original-title="Compare this Product"><i
                                        class="fa fa-random"></i></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=28">Alpine
                                    SXE-1725S</a></div>
                            <p class="price">
                                $57.00
                            </p>
                            <button type="button" class="btn-primary ani" onclick="cart.add('28');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                        </div>

                        <div class="aside">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=28">Alpine
                                    SXE-1725S</a></div>
                            <p class="description">Our products are the perfect combination of the latest fashion
                                trends, real durability and flexibi..</p>
                            <p class="price">
                                $57.00
                            </p>
                            <button class="btn-primary ani" type="button" onclick="cart.add('28');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                            <div class="clear"></div>
                            <button class="product-btn" type="button" onclick="wishlist.add('28');"><i
                                    class="fa fa-heart-o"></i><span>Add to Wish List</span></button>
                            <button class="product-btn" type="button" onclick="compare.add('28');"><i
                                    class="fa fa-random"></i><span>Compare this Product</span></button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-thumb transition ">
                        <div class="image">
                            <a class="lazy lazy-loaded"
                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=46"
                                style="padding-bottom: 103.7037037037%">
                                <img width="270" height="280" alt="Boss AP1100R Amplifier"
                                    title="Boss AP1100R Amplifier" class="img-primary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-61-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-61-270x280.png">
                                <img width="270" height="280" alt="Boss AP1100R Amplifier"
                                    title="Boss AP1100R Amplifier" class="img-secondary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-62-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-62-270x280.png">
                            </a>
                            <div class="cart-button">
                                <button class="btn-icon quickview" type="button" data-toggle="tooltip" title=""
                                    data-rel="details" data-product="46" data-original-title="Details"><i
                                        class="fa fa-search-plus"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="wishlist.add('46');" data-original-title="Add to Wish List"><i
                                        class="fa fa-heart-o"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="compare.add('46');" data-original-title="Compare this Product"><i
                                        class="fa fa-random"></i></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=46">Boss
                                    AP1100R Amplifier</a></div>
                            <p class="price">
                                $150.00
                            </p>
                            <button type="button" class="btn-primary ani" onclick="cart.add('46');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                        </div>

                        <div class="aside">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=46">Boss
                                    AP1100R Amplifier</a></div>
                            <p class="description">Our products are the perfect combination of the latest fashion
                                trends, real durability and flexibi..</p>
                            <p class="price">
                                $150.00
                            </p>
                            <button class="btn-primary ani" type="button" onclick="cart.add('46');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                            <div class="clear"></div>
                            <button class="product-btn" type="button" onclick="wishlist.add('46');"><i
                                    class="fa fa-heart-o"></i><span>Add to Wish List</span></button>
                            <button class="product-btn" type="button" onclick="compare.add('46');"><i
                                    class="fa fa-random"></i><span>Compare this Product</span></button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-thumb transition ">
                        <div class="image">
                            <a class="lazy lazy-loaded"
                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=33"
                                style="padding-bottom: 103.7037037037%">
                                <img width="270" height="280" alt="JVC KW-R910BT Audio System"
                                    title="JVC KW-R910BT Audio System" class="img-primary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-21-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-21-270x280.png">
                                <img width="270" height="280" alt="JVC KW-R910BT Audio System"
                                    title="JVC KW-R910BT Audio System" class="img-secondary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-22-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-22-270x280.png">
                            </a>
                            <div class="cart-button">
                                <button class="btn-icon quickview" type="button" data-toggle="tooltip" title=""
                                    data-rel="details" data-product="33" data-original-title="Details"><i
                                        class="fa fa-search-plus"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="wishlist.add('33');" data-original-title="Add to Wish List"><i
                                        class="fa fa-heart-o"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="compare.add('33');" data-original-title="Compare this Product"><i
                                        class="fa fa-random"></i></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=33">JVC
                                    KW-R910BT Audio System</a></div>
                            <p class="price">
                                $272.00
                            </p>
                            <button type="button" class="btn-primary ani" onclick="cart.add('33');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                        </div>

                        <div class="aside">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=33">JVC
                                    KW-R910BT Audio System</a></div>
                            <p class="description">Our products are the perfect combination of the latest fashion
                                trends, real durability and flexibi..</p>
                            <p class="price">
                                $272.00
                            </p>
                            <button class="btn-primary ani" type="button" onclick="cart.add('33');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                            <div class="clear"></div>
                            <button class="product-btn" type="button" onclick="wishlist.add('33');"><i
                                    class="fa fa-heart-o"></i><span>Add to Wish List</span></button>
                            <button class="product-btn" type="button" onclick="compare.add('33');"><i
                                    class="fa fa-random"></i><span>Compare this Product</span></button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-thumb transition ">
                        <div class="image">
                            <a class="lazy"
                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=41"
                                style="padding-bottom: 103.7037037037%">
                                <img width="270" height="280" alt="Rockford Fosgate R169X3 Coaxial Speaker"
                                    title="Rockford Fosgate R169X3 Coaxial Speaker" class="img-primary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-41-270x280.png"
                                    src="#">
                                <img width="270" height="280" alt="Rockford Fosgate R169X3 Coaxial Speaker"
                                    title="Rockford Fosgate R169X3 Coaxial Speaker" class="img-secondary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-42-270x280.png"
                                    src="#">
                            </a>
                            <div class="cart-button">
                                <button class="btn-icon quickview" type="button" data-toggle="tooltip" title=""
                                    data-rel="details" data-product="41" data-original-title="Details"><i
                                        class="fa fa-search-plus"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="wishlist.add('41');" data-original-title="Add to Wish List"><i
                                        class="fa fa-heart-o"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="compare.add('41');" data-original-title="Compare this Product"><i
                                        class="fa fa-random"></i></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=41">Rockford
                                    Fosgate R169X3 Coaxial Speaker</a></div>
                            <p class="price">
                                $49.00
                            </p>
                            <button type="button" class="btn-primary ani" onclick="cart.add('41');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                        </div>

                        <div class="aside">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=41">Rockford
                                    Fosgate R169X3 Coaxial Speaker</a></div>
                            <p class="description">Our products are the perfect combination of the latest fashion
                                trends, real durability and flexibi..</p>
                            <p class="price">
                                $49.00
                            </p>
                            <button class="btn-primary ani" type="button" onclick="cart.add('41');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                            <div class="clear"></div>
                            <button class="product-btn" type="button" onclick="wishlist.add('41');"><i
                                    class="fa fa-heart-o"></i><span>Add to Wish List</span></button>
                            <button class="product-btn" type="button" onclick="compare.add('41');"><i
                                    class="fa fa-random"></i><span>Compare this Product</span></button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>

    </div>
</div>