<div id="product-category" class="container">

    <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
        <a href="/shop" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a> >
        <span class="custom-text-style"
            style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Subwoofers</span>
    </span>

    <div>
        <div class="row">
            <div class="col-sm-4">
                <span id="image-category" class="image-category"><img
                        src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-19-370x220.png"
                        alt="Subwoofers" title="Subwoofers" class="img-thumbnail"></span>
            </div>
            <div id="description-category" class="description description-category col-sm-8" style="height: 220px;">
                <div class="description-category__cont">
                    <h2 class="fs-6 fw-bold">Subwoofers</h2>
                    <p>Sản phẩm của chúng tôi là sự kết hợp hoàn hảo giữa xu hướng
                        thời trang mới
                        nhất, độ bền thực sự
                        và tính linh hoạt. </p>
                    <p>
                        <a href="https://demo.templatemonster.com/demo/80441.html?_gl=1*1ybpu9g*_ga*MjAwOTIzODQyLjE3MDI1NDI3OTk.*_ga_FTPYEGT5LY*MTcwMjU0Mjc5OS4xLjEuMTcwMjU0NDI2OC41OS4wLjA"
                            name="slug"><b>Link:</b> https://demo.templatemonster.com
                        </a>
                    </p>
                    <p name="address"><b>Địa chỉ:</b> 04 Nguyen Van Bao Street, Go Vap Disc, Ho Chi Minh City.</p>

                    <div>
                        <p name="timeOpened"><b>Thời gian mở cửa: </b>từ 7:00 AM đến 5:00 PM mỗi ngày.</p>
                        <p name="timeClosed"><b>Thời gian đóng cửa:</b> từ 5:00 PM đến 7:00 AM ngày hôm sau.</p>
                    </div>
                    {{!-- <button type="button" class="btn-primary ani">Mua ngay<span class="over">Mua ngay</span><span
                            class="out">Mua ngay</span></button> --}}

                </div>
                <div class="description-category__links" style="margin-top: 40px;">
                    <a href="https://demo.templatemonster.com/demo/80441.html?_gl=1*1ybpu9g*_ga*MjAwOTIzODQyLjE3MDI1NDI3OTk.*_ga_FTPYEGT5LY*MTcwMjU0Mjc5OS4xLjEuMTcwMjU0NDI2OC41OS4wLjA"
                        class="link show-desc" data-text-open="Xem thêm" data-text-close="Ẩn">Xem thêm</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div id="html-module0" class="html-module Featured brands html-1">

                <div class="box-heading">
                    <h5>Nhãn hiệu</h5>
                </div>

                <div class="content">
                    <ul>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=5">Michelin</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=6">Continental</a>
                        </li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=7">Yakohama</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=8">Bridgestone</a>
                        </li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=9">Toyo</a></li>
                    </ul>
                </div>
            </div>

            <div class="megamenu">
                <h3></h3>
                <ul class="sf-menu sf-js-enabled sf-arrows">
                    <li class="sf-with-mega">
                        <span>Bánh xe</span>
                        <ul class="sf-mega" style="display: none; width: 900px;">
                            <li class="sf-mega_row" style="opacity: 0;">
                                <div class="sf-mega_section" style="width: 100%">
                                    <ul>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=70">
                                                Lốp mềm, êm ái, ít ồn phù hợp đường đẹp</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=69">
                                                Lốp cứng, ồn phù hợp đường xấu</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=68">
                                                Lốp hỗn hợp, phù hợp nhiều loại đường</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=67">
                                                Lốp hiệu suất cao, lốp đặc chủng</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

        <div id="content" class="col-sm-9">

            <div class="product-filter clearfix">
                <div class="product-filter_elem">
                    <div class="button-view">
                        <button type="button" id="list-view" data-toggle="tooltip" title=""
                            data-original-title="List"><i class="bi bi-list-stars"></i></button>
                    </div>
                </div>
                <div class="product-filter_elem sort d-flex align-items-center">
                    <label class="control-label me-2 w-50" for="input-sort">
                        Sort By:
                    </label>
                    <select id="input-sort" class="form-select"
                        style="background-color: #f8f9fa; border: 1px solid #F8F9Fa;" onchange="location = this.value;">
                        <option value="#" selected="selected">Default</option>
                        <option value="#">Name (A - Z)</option>
                        <option value="#">Price (Low &gt; High)</option>
                        <option value="#">Rating (Highest)</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-thumb transition ">
                        <div class="image">
                            <a class="lazy lazy-loaded"
                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=28"
                                style="padding-bottom: 103.7037037037%">
                                <img width="270" height="280" alt="Alpine SXE-1725S" name="name"
                                    title="Alpine SXE-1725S" class="img-primary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-1-270x280.png">
                                <img width="270" height="280" alt="Alpine SXE-1725S" name="name"
                                    title="Alpine SXE-1725S" class="img-secondary"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-2-270x280.png">
                            </a>
                            <div class="cart-button">
                                <button class="btn-icon quickview" type="button" data-toggle="tooltip" title=""
                                    data-rel="details" data-product="28" data-original-title="Details"><i
                                        class="fa fa-search-plus"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="wishlist.add('28');" data-original-title="Add to Wish List"><i
                                        class="fa fa-heart-o"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="compare.add('28');" data-original-title="Compare this Product"><i
                                        class="fa fa-random"></i></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=28">Alpine
                                    SXE-1725S</a></div>
                            <p class="price">
                                $57.00
                            </p>
                            <button type="button" class="btn-primary ani" onclick="cart.add('28');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                        </div>

                        <div class="aside">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=28">Alpine
                                    SXE-1725S</a></div>
                            <p class="description">Our products are the perfect combination of the latest fashion
                                trends, real durability and flexibi..</p>
                            <p class="price">
                                $57.00
                            </p>
                            <button class="btn-primary ani" type="button" onclick="cart.add('28');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                            <div class="clear"></div>
                            <button class="product-btn" type="button" onclick="wishlist.add('28');"><i
                                    class="fa fa-heart-o"></i><span>Add to Wish List</span></button>
                            <button class="product-btn" type="button" onclick="compare.add('28');"><i
                                    class="fa fa-random"></i><span>Compare this Product</span></button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-thumb transition ">
                        <div class="image">
                            <a class="lazy lazy-loaded"
                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=46"
                                style="padding-bottom: 103.7037037037%">
                                <img width="270" height="280" alt="Boss AP1100R Amplifier"
                                    title="Boss AP1100R Amplifier" class="img-primary " name="name"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-61-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-61-270x280.png">
                                <img width="270" height="280" alt="Boss AP1100R Amplifier"
                                    title="Boss AP1100R Amplifier" class="img-secondary" name="name"
                                    data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-62-270x280.png"
                                    src="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/products/product-62-270x280.png">
                            </a>
                            <div class="cart-button">
                                <button class="btn-icon quickview" type="button" data-toggle="tooltip" title=""
                                    data-rel="details" data-product="46" data-original-title="Details"><i
                                        class="fa fa-search-plus"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="wishlist.add('46');" data-original-title="Add to Wish List"><i
                                        class="fa fa-heart-o"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="compare.add('46');" data-original-title="Compare this Product"><i
                                        class="fa fa-random"></i></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=46">Boss
                                    AP1100R Amplifier</a></div>
                            <p class="price">
                                $150.00
                            </p>
                            <button type="button" class="btn-primary ani" onclick="cart.add('46');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                        </div>

                        <div class="aside">
                            <div class="name"><a
                                    href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;path=28&amp;product_id=46">Boss
                                    AP1100R Amplifier</a></div>
                            <p class="description">Our products are the perfect combination of the latest fashion
                                trends, real durability and flexibi..</p>
                            <p class="price">
                                $150.00
                            </p>
                            <button class="btn-primary ani" type="button" onclick="cart.add('46');">Add to Cart<span
                                    class="over">Add to Cart</span><span class="out">Add to Cart</span></button>
                            <div class="clear"></div>
                            <button class="product-btn" type="button" onclick="wishlist.add('46');"><i
                                    class="fa fa-heart-o"></i><span>Add to Wish List</span></button>
                            <button class="product-btn" type="button" onclick="compare.add('46');"><i
                                    class="fa fa-random"></i><span>Compare this Product</span></button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>

        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>




    </div>
    <script type="text/javascript">
        ; (function ($) {
            $(document).ready(function () {
                var imgHeight,
                    descContHeight,
                    desc = $('#description-category'),
                    descLink = $('#description-category .link');

                $(window).on('load resize', function () {
                    imgHeight = $('#image-category').outerHeight(),
                        descContHeight = $('#description-category .description-category__cont').outerHeight() + $('#description-category .description-category__links').outerHeight() + 15;
                });

                $(window).on('load', function () {
                    desc.css({
                        "height": imgHeight
                    });
                });

                $(window).on('resize', function () {

                    if (!desc.hasClass('open')) {
                        desc.css({
                            "height": imgHeight
                        });
                    } else {
                        desc.css({
                            "height": descContHeight
                        });
                    }
                });

                descLink.on('click touchstart', function (e) {
                    e.preventDefault();
                    if (desc.hasClass('open')) {
                        desc.css({
                            "height": imgHeight
                        })
                            .removeClass('open');
                        descLink.html($(this).data('textOpen'));
                    } else {
                        desc.css({
                            "height": descContHeight
                        })
                            .addClass('open');
                        descLink.html($(this).data('textClose'));
                    }
                });
            });
        })(jQuery);



    </script>


</div>