<div id="product-category" class="container">

    <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
        <a href="/shop" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a>
        <i class="bi bi-chevron-right"></i>
        <span class="custom-text-style"
            style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Giỏ
            hàng</span>
    </span>


    <div class="row j-shopbag-title cart-list__header mt-3">
        <div class="col-md-9 col-sm-12 col-lg-9">
            <div class="col-md-8 col-sm-4 col-lg-8 cart-list__header-title">
                <div class="form-check">
                    <input class="form-check-input fs-4 bg-dark" type="checkbox" id="selectAll">
                    <label class="form-check-label fs-4 fw-bold" for="selectAll"
                        style="width:689px; border-bottom: 1px solid rgb(201, 199, 199);">Tất
                        cả mặt
                        hàng</label>
                </div>
            </div>



            <div class="cart-item-row" style=" width: 725px;">
                <div class="row mt-2" style="margin-left: -20px;">
                    <div class="store-header-container not-platform-store" da-expose-code="cart-shop-name" style=""
                        data-v-24269570="">

                        {{#each products}}
                        <div class="form-check">
                            <div class="row">

                                <div class="col-md-4 col-sm-3 col-lg-4">

                                    <input class="form-check-input fs-5 bg-dark" style="margin-top: 104px;"
                                        type="checkbox" id="selectAll" onchange="handleCheckboxChange(this, 200000)">

                                    <div class="cart-img-gd" data-v-5ac192ae="">
                                        <div class="checkbox-item" style="opacity:1;">

                                        </div>
                                        <div class="cart-list__item-img" data-v-5ac192ae="" data-v-5c2c01ec="">
                                            <div class="gd-img" data-v-5c2c01ec="">
                                                <div class="i-img-wrapper" data-v-5c2c01ec=""><img
                                                        src="https://bizweb.dktcdn.net/thumb/large/100/429/537/products/11519-2.jpg?v=1643440571170"
                                                        class="i-img" data-v-5c2c01ec="" style="width: 200px;">
                                                    <div class="i-img-wrapper__mask" data-v-5c2c01ec=""></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6 col-sm-6 ">
                                    <a href="#" class="product-name fs-5 fw-bold text-decoration-none">
                                        {{title}}
                                    </a>


                                    <div class="d-flex align-items-center">
                                        <div class="product-price fw-bold" style="width: 408px; margin-top: 104px;"
                                            onclick="updateTotalPrice(200000)">
                                            Giá: 200.000đ <del style="color: red;">300.000đ</del>
                                        </div>

                                        <div class="input-group input-group-sm ms-3" style="margin-top: 100px;">
                                            <button type="button" class="btn btn-secondary"
                                                onclick="decrementQuantity()">-</button>
                                            <span class="input-group-text" id="quantity">1</span>
                                            <button type="button" class="btn btn-secondary"
                                                onclick="incrementQuantity()">+</button>
                                        </div>

                                        <div class="ms-3 d-flex" style="margin-top: 92px;">
                                            <a href="#" class="text-decoration-none me-3 col-lg-3 col-sm-4">
                                                <i class="bi bi-search"></i>
                                            </a>
                                            <a href="/my/wishlist" class="text-decoration-none me-3 col-lg-3 col-sm-4">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                            <a href="#" class="text-decoration-none col-lg-3 col-sm-4">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>

        </div>
        <div class="col-3 flex-grow-1">
            <div class="col-md-4 bg-info bg-gradient text-start w-100">
                <p class="fw-bold fs-4">Tóm tắt đơn hàng</p>
                <p class="fw-bold text-end"><span id="totalPrice">0đ</span></p>
                <p class="fw-bold text-end" id="tietkiem">Tiết kiệm: <span class="text-danger">0đ</span></p>
                <button class="btn btn-dark btn-lg" style="width: 100%;">Thanh toán</button>
            </div>

            <div class="mt-2 col-md-4 bg-info bg-gradient text-start w-100 me-3">
                <p class="fw-bold fs-4">Chúng tôi chấp nhận</p>
                <div class="bank-img d-flex align-items-center flex-wrap">
                    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732253085529991.webp"
                        class="c-img__con-m fsp-element me-3 mb-2 mx-2" data-v-5293e92d=""
                        style="width: 50px; height: auto;">
                    <img src="//img.ltwebstatic.com/images3_pi/2021/03/09/161528368123dd7a35ad8708b0dfc74b3630526891.webp"
                        class="c-img__con-m fsp-element me-3 mb-2" data-v-5293e92d=""
                        style="width: 50px; height: auto;">
                    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732803587566708.webp"
                        class="c-img__con-m fsp-element me-3 mb-2" data-v-5293e92d=""
                        style="width: 50px; height: auto;">
                    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732983375743706.webp"
                        class="c-img__con-m fsp-element me-3 mb-2 mx-2" data-v-5293e92d=""
                        style="width: 50px; height: auto;">
                    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/1528273036537082707.webp" width="50"
                        height="50" class="mb-2"><br>
                    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/1528273241354964734.webp"
                        class="c-img__con-m fsp-element me-3 mb-2 mx-3" data-v-5293e92d=""
                        style="width: 50px; height: auto;">

                    <img src="//img.ltwebstatic.com/images3_pi/2021/01/15/1610701410b3781f00695b77b833e6b6a5e38331a3.webp"
                        class="c-img__con-m fsp-element me-3 mb-2 mx-2" data-v-5293e92d=""
                        style="width: 50px; height: auto;">
                    <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282719811871317559.webp"
                        class="c-img__con-m fsp-element mb-2" data-v-5293e92d="" style="width: 50px; height: auto;">
                </div>
            </div>

        </div>
    </div>

</div>
</div>

{{#section 'script'}}
<script>
    // Số lượng mặt hàng
    let quantity = 1;

    function incrementQuantity() {
        quantity++;
        document.getElementById('quantity').innerText = quantity;
        updateSummary();
    }

    function decrementQuantity() {
        if (quantity > 1) {
            quantity--;
            document.getElementById('quantity').innerText = quantity;
            updateSummary();
        }
    }

    // Chọn tất cả mặt hàng
    document.getElementById('selectAll').addEventListener('click', function () {
        var checkboxes = document.querySelectorAll('.form-check-input.fs-5.bg-dark');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = document.getElementById('selectAll').checked;
        });
        updateSummary();
    });

    // Cập nhật giỏ hàng khi thay đổi số lượng
    document.querySelectorAll('.woocommerce input.qty').forEach(function (input) {
        input.addEventListener('change', function () {
            $("[name='update_cart']").trigger("click");
            quantity = parseInt(input.value); // Cập nhật số lượng
            updateSummary();
        });
    });


    // Cập nhật giảm giá tổng cộng
    function updateSummary() {
        var savedAmountElement = $('.fw-bold.text-end span');
        var pricePerItem = 200000;

        var selectedItems = $('.form-check-input:checked').length;

        var selectAllChecked = $('#selectAll').prop('checked');

        if (selectAllChecked) {
            selectedItems--;
        }

        var discountAmount = pricePerItem * quantity * selectedItems;

        savedAmountElement.text(discountAmount.toLocaleString() + 'đ');
    }


    jQuery(function ($) {
        $('.woocommerce').on('change', 'input.qty', function () {
            $("[name='update_cart']").trigger("click");
        });

        $('.cart-item-row').on('change', '.form-check-input', function () {
            updateSummary();
        });

        // Hàm cập nhật tổng cộng
        function updateSummary() {
            var savedAmountElement = $('.fw-bold.text-end span');

            var pricePerItem = 200000;

            var selectedItems = $('.form-check-input:checked').length;

            var discountAmount = pricePerItem * selectedItems;

            savedAmountElement.text(discountAmount.toLocaleString() + 'đ');
        }
    });



    // Cập nhật giảm giá tổng cộng và tiết kiệm
    function updateSummary() {
        var savedAmountElement = $('.fw-bold.text-end span');
        var tietKiemElement = $('#tietkiem span');
        var pricePerItem = 200000;
        var savingPerItem = 100000;

        var selectedItems = $('.form-check-input:checked').length;

        var selectAllChecked = $('#selectAll').prop('checked');

        if (selectAllChecked) {
            selectedItems--;
        }
        var discountAmount = pricePerItem * quantity * selectedItems;

        savedAmountElement.text(discountAmount.toLocaleString() + 'đ');

        var savingAmount = savingPerItem * selectedItems;

        tietKiemElement.text(savingAmount.toLocaleString() + 'đ');
    }

    jQuery(function ($) {
        $('.woocommerce').on('change', 'input.qty', function () {
            $("[name='update_cart']").trigger("click");
        });

        $('.cart-item-row').on('change', '.form-check-input', function () {
            // Gọi hàm cập nhật giá tổng cộng ở đây
            updateSummary();
        });

        function updateSummary() {
            var savedAmountElement = $('.fw-bold.text-end span');
            var tietKiemElement = $('#tietkiem span');
            var pricePerItem = 200000;
            var savingPerItem = 100000;

            var selectedItems = $('.form-check-input:checked').length;

            var selectAllChecked = $('#selectAll').prop('checked');

            if (selectAllChecked) {
                selectedItems--;
            }
            var discountAmount = pricePerItem * quantity * selectedItems;

            savedAmountElement.text(discountAmount.toLocaleString() + 'đ');

            var savingAmount = savingPerItem * selectedItems;

            tietKiemElement.text(savingAmount.toLocaleString() + 'đ');
        }

    });
</script>
{{/section}}