<div id="product-category" class="container">

    <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
        <a href="/shop" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a> >
        <span class="custom-text-style"
            style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Giỏ
            hàng</span>
    </span>


    <div class="j-shopbag-title cart-list__header mt-3">
        <div class="cart-list__header-title">
            <div class="form-check">
                <input class="form-check-input fs-4 bg-dark" type="checkbox" id="selectAll">
                <label class="form-check-label fs-4 fw-bold" for="selectAll"
                    style="width:700px; border-bottom: 1px solid rgb(201, 199, 199);">Tất
                    cả mặt
                    hàng</label>
            </div>
        </div>
    </div>

    <div class="cart-item-row" style="background-color:rgb(218, 242, 243); width: 725px;">
        <div class="row mt-2" style="margin-left: 20px;">
            <div class="col-md-9">
                <div data-v-7ac4aa16="">
                    <p class="cart_item-title full-title mt-2" tabindex="0"
                        aria-label="Trả thêm mua hàng đẹp,Đủ điều kiện để chọn một vật phẩm bổ trợ." data-v-7ac4aa16="">
                        Trả thêm mua hàng đẹp
                        <br>
                        Đủ điều kiện để chọn một vật phẩm bổ trợ.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-md-end">
                    <button type="submit" class="btn-primary btn-invert ani mt-3 w-30">
                        Chọn
                        <span class="over">Chọn</span>
                        <span class="out">Chọn</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-item-row" style=" width: 725px;">
        <div class="row mt-2" style="margin-left: 20px;">

        </div>
    </div>

</div>