<div id="product-category" class="container">

    <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
        <a href="/shop" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a> >
        <span class="custom-text-style"
            style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Giỏ
            hàng</span>
    </span>


    <div class="row j-shopbag-title cart-list__header mt-3">
        <div class="col-md-8 cart-list__header-title">
            <div class="form-check">
                <input class="form-check-input fs-4 bg-dark" type="checkbox" id="selectAll">
                <label class="form-check-label fs-4 fw-bold " for="selectAll"
                    style="width:689px; border-bottom: 1px solid rgb(201, 199, 199);">Tất
                    cả mặt
                    hàng</label>
            </div>
        </div>


        <div class="cart-item-row" style="background-color:rgb(218, 242, 243); width: 725px;">
            <div class="row mt-2" style="margin-left: 20px;">
                <div class="col-md-9">
                    <div data-v-7ac4aa16="">
                        <p class="cart_item-title full-title mt-2" tabindex="0"
                            aria-label="Trả thêm mua hàng đẹp,Đủ điều kiện để chọn một vật phẩm bổ trợ."
                            data-v-7ac4aa16="">
                            Trả thêm mua hàng đẹp
                            <br>
                            Đủ điều kiện để chọn một vật phẩm bổ trợ.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-md-end">
                        <button type="submit" class="btn-primary btn-invert ani mt-3 w-30">
                            Chọn
                            <span class="over">Chọn</span>
                            <span class="out">Chọn</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-item-row" style=" width: 725px;">
            <div class="row mt-2" style="margin-left: -20px;">
                <div class="store-header-container not-platform-store" da-expose-code="cart-shop-name" style=""
                    data-v-24269570="">
                    <div class="form-check">
                        <input class="form-check-input fs-6 bg-dark" type="checkbox" id="selectAll">
                        <div style="display: flex; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-house-door" viewBox="0 0 16 16">
                                <path
                                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
                            </svg>

                            <label class="form-check-label fs-6 fw-bold" for="selectAll"
                                style="width: 700px; margin-left: 10px;">StoreFlex</label>



                        </div>
                    </div>

                    <div class="form-check">
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-check-input fs-5 bg-dark" style="margin-top: 104px; " type="checkbox"
                                    id="selectAll">

                                <div class="cart-img-gd" data-v-5ac192ae=""><!--[-->
                                    <div class="checkbox-item" style="opacity:1;">

                                    </div><!--]-->
                                    <div class="cart-list__item-img" data-v-5ac192ae="" data-v-5c2c01ec="">
                                        <div class="gd-img" data-v-5c2c01ec="">
                                            <div class="i-img-wrapper" data-v-5c2c01ec=""><img
                                                    src="https://bizweb.dktcdn.net/thumb/large/100/429/537/products/11519-2.jpg?v=1643440571170"
                                                    class="i-img" data-v-5c2c01ec="" style="width: 250px;">
                                                <div class="i-img-wrapper__mask" data-v-5c2c01ec=""></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <a href="#" class="product-name fs-5 fw-bold text-decoration-none">Chìa khóa cao cấp
                                    StoreFlex</a>
                                <p class="product-details">Color: Black</p>

                                <div class="d-flex align-items-center">
                                    <div class="product-price fw-bold" style="width: 408px; margin-top: 104px;">
                                        Giá: 200.000đ <del style="color: red;">300.000đ</del>
                                    </div>

                                    <div class="input-group input-group-sm ms-3" style="margin-top: 100px;">
                                        <button type="button" class="btn btn-secondary"
                                            onclick="decrementQuantity()">-</button>
                                        <span class="input-group-text" id="quantity">1</span>
                                        <button type="button" class="btn btn-secondary"
                                            onclick="incrementQuantity()">+</button>
                                    </div>

                                    <div class="ms-3 d-flex" style="margin-top: 92px;">
                                        <i class="bi bi-search me-3"></i>
                                        <i class="bi bi-heart me-3"></i>
                                        <i class="bi bi-trash"></i>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 text-center"
            style="height: 200px; margin-top: -109px; margin-left: 33px; background-color: rgb(218, 242, 243);">
            <p class="fw-bold fs-4">Tóm tắt đơn hàng</p>
            <p class="fw-bold text-end">0đ</p>
            <p class="fw-bold text-end">Tiết kiệm: <span class="text-danger">0đ</span></p>
            <button class="btn btn-dark btn-lg" style="width: 100%;">Thanh toán</button>
        </div>

        <div class="col-md-4 text-center"
            style="height: 150px;margin-top: -137px;margin-left: 759px;background-color: rgb(218, 242, 243);">

            <p class=" fw-bold fs-4">Chúng tôi chấp nhận</p>
            <div class="bank-img" data-v-5293e92d="">
                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732253085529991.webp"
                    class="c-img__con-m fsp-element me-3" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">
                <img src="//img.ltwebstatic.com/images3_pi/2021/03/09/161528368123dd7a35ad8708b0dfc74b3630526891.webp"
                    class="c-img__con-m fsp-element me-3" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">
                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732803587566708.webp"
                    class="c-img__con-m fsp-element me-3" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">
                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282732983375743706.webp"
                    class="c-img__con-m fsp-element me-3" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">
                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/1528273036537082707.webp"
                    class="c-img__con-m fsp-element me-3" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">
                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/1528273241354964734.webp"
                    class="c-img__con-m fsp-element me-3" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">
                <img src="//img.ltwebstatic.com/images2_pi/2018/06/06/15282719811871317559.webp"
                    class="c-img__con-m fsp-element" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">
                <img src="//img.ltwebstatic.com/images3_pi/2021/01/15/1610701410b3781f00695b77b833e6b6a5e38331a3.webp"
                    class="c-img__con-m fsp-element me-3" data-v-5293e92d=""
                    style="width: 50px; height: auto; margin-right: 10px;">

            </div>

        </div>

    </div>





</div>
</div>

<script>
    let quantity = 1;

    function incrementQuantity() {
        quantity++;
        document.getElementById('quantity').innerText = quantity;
    }

    function decrementQuantity() {
        if (quantity > 1) {
            quantity--;
            document.getElementById('quantity').innerText = quantity;
        }
    }

</script>