<div id="product-category" class="container">

    <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
        <a href="/shop" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a> >
        <span class="custom-text-style"
            style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Giỏ
            hàng</span>
    </span>


</div>