<div id="product-category" class="container">

    <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
        <a href="/shop" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a>
        <i class="bi bi-chevron-right"></i>
        <span class="custom-text-style"
            style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Giỏ
            hàng</span>
    </span>




    <div class="container1">
        <div class="auth-form__heading">
            <h3 class="auth-form__heading text-center fw-bold">GIỎ HÀNG</h3>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg col-lg-2"></nav>
            <nav class="navbar navbar-expand-lg col-lg-4"></nav>
            <nav class="navbar navbar-expand-lg col-lg-1 fw-bold">Đơn giá</nav>
            <nav class="navbar navbar-expand-lg col-lg-1 fw-bold">
                <div class="qty"></div>Số lượng
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1 fw-bold">Tổng</nav>
            <nav class="navbar navbar-expand-lg col-lg-1"></nav>
        </div>
        <div class="row" id="cart-items">
            <nav class="navbar navbar-expand-lg col-lg-2">
                <a href="/my/cart" class="c2">
                    <img width="150" height="170" loading="lazy"
                        src="https://bizweb.dktcdn.net/thumb/large/100/429/537/products/11519-2.jpg?v=1643440571170"
                        alt="" class="img-responsive logoimg1">
                </a>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-4">
                <h6 class="nn-ct">Chìa khóa cơ cao cấp</h6>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="price-section2">
                    <span class="price2" data-price="420000">₫420.000</span>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="js-qty">
                    <input type="number" class="quantity" value="1" min="1" data-index="0">
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="total" data-index="0">₫420.000</div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <a href="" class="cart__remove" data-index="0">
                    <small>Xóa</small>
                </a>
            </nav>
        </div>


        <div class="row" id="cart-items">
            <nav class="navbar navbar-expand-lg col-lg-2">
                <a href="/shop" class="c2">
                    <img width="150" height="170" loading="lazy"
                        src="https://bizweb.dktcdn.net/thumb/large/100/429/537/products/ms18139-compressed.jpg?v=1631524204223"
                        alt="" class="img-responsive logoimg1">
                </a>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-4">
                <h6 class="nn-ct">Yên xe Vision 110 FI (2014-2015) - màu Nâu</h6>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="price-section2">
                    <span class="price2" data-price="520000">₫520.000</span>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="js-qty">
                    <input type="number" class="quantity" value="1" min="1" data-index="0">
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="total" data-index="0">₫520.000</div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <a href="" class="cart__remove" data-index="0">
                    <small>Xóa</small>
                </a>
            </nav>
        </div>

        <div class="row" id="cart-items">
            <nav class="navbar navbar-expand-lg col-lg-2">
                <a href="/shop" class="c2">
                    <img width="150" height="170" loading="lazy"
                        src="https://bizweb.dktcdn.net/thumb/1024x1024/100/429/537/products/3237-2.jpg?v=1634292201810"
                        alt="" class="img-responsive logoimg1">
                </a>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-4">
                <h6 class="nn-ct">Bộ Gương Chiếu Hậu Xe Vision FI 110cc Có Ốc (2011-2014)</h6>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="price-section2">
                    <span class="price2" data-price="20000">₫20.000</span>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="js-qty">
                    <input type="number" class="quantity" value="1" min="1" data-index="0">
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <div class="total" data-index="0">₫20.000</div>
            </nav>
            <nav class="navbar navbar-expand-lg col-lg-1">
                <a href="" class="cart__remove" data-index="0">
                    <small>Xóa</small>
                </a>
            </nav>
        </div>



        <div class="total-section ">
            Tổng: <span id="total-amount">0đ</span>
        </div>
        <div class="text-center">
            <div class="form-container">
                <form action="/shop" method="post">
                    <input type="hidden" name="productId" value="657f0c3e3d47bce4551df71b">
                    <button type="submit" class="btn-primary ani" onclick="cart.add('28');">Quay lại trang
                        sản phẩm
                        <span class="over">Quay lại trang sản phẩm</span>
                        <span class="out">Quay lại trang sản phẩm</span>
                    </button>
                </form>

                <form action="#" method="post">
                    <input type="hidden" name="productId" value="657f0c3e3d47bce4551df71b">
                    <button type="submit" class="btn-primary ani" onclick="cart.add('28');">Thanh toán
                        <span class="over">Thanh toán</span>
                        <span class="out">Thanh toán</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>



{{#section 'script'}}
<script>
    // Số lượng mặt hàng
    function updateTotal() {
        let totalAmount = 0;
        document.querySelectorAll('.row[id^="cart-items"]').forEach(function (row) {
            const priceElement = row.querySelector('.price2');
            const quantityElement = row.querySelector('.quantity');
            const totalElement = row.querySelector('.total');
            const price = parseInt(priceElement.getAttribute('data-price'));
            const quantity = parseInt(quantityElement.value);
            const total = price * quantity;
            totalElement.textContent = '₫' + total.toLocaleString();
            totalAmount += total;
        });
        document.getElementById('total-amount').textContent = '₫' + totalAmount.toLocaleString();
    }

    document.querySelectorAll('.quantity').forEach(function (input) {
        input.addEventListener('input', updateTotal);
    });

    document.querySelectorAll('.cart__remove').forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const index = button.getAttribute('data-index');
            document.getElementById(`cart-items-${index}`).remove();
            updateTotal();
        });
    });

    updateTotal();

</script>
{{/section}}